### EDA

In [1]:
import pandas as pd

In [2]:
pwd

'/home/florianriemann/spicy_projects/repos/garlic-boosting-student-code/10_week_project'

In [3]:
PATH = '/home/florianriemann/spicy_projects/repos/garlic-boosting-student-code/10_week_project/data/ml-latest-small/'

In [4]:
# extract the year from the title
# split the genres by | and do one-hot-encoding

movies = pd.read_csv(PATH + 'movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# extract the year from the title
movies['year'] = movies['title'].str[-5:-1]
# transform year to pd datetime
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [6]:
# clean the title from numbers and special characters
movies['title_clean'] = movies['title'].str[:-6]
movies.head()

,movieId,title,genres,year,title_clean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II

In [7]:
# check if any movieId are duplicated
movies['title'].duplicated().sum()

5

In [8]:
# movies.iloc(movies['title'].duplicated())
movies['title'].duplicated().any()

True

In [9]:
movies[movies['title'].duplicated()]

,movieId,title,genres,year,title_clean
5601,26958,Emma (1996),Romance,1996,Emma
6932,64997,War of the Worlds (2005),Action|Sci-Fi,2005,War of the Worlds
9106,144606,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Romance|Thriller,2002,Confessions of a Dangerous Mind
9135,147002,Eros (2004),Drama|Romance,2004,Eros
9468,168358,Saturn 3 (1980),Sci-Fi|Thriller,1980,Saturn 3

In [10]:
# example of a duplicate
movies[movies['title'] == 'Emma (1996)']

      movieId        title                genres  year title_clean
650       838  Emma (1996)  Comedy|Drama|Romance  1996       Emma
5601    26958  Emma (1996)               Romance  1996       Emma

In [11]:
# lets remove duplicated rows by keeping only the last
movies = movies.drop_duplicates('title', keep='last')

In [12]:
# split the genres into dummies and concat with movies dataframe
dummy_genre = movies['genres'].str.get_dummies(sep='|')
movies = pd.concat([movies, dummy_genre], axis=1)
# drop column genres
movies.drop(columns=('genres'), inplace=True)
movies.head()

,movieId,title,year,title_clean,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995,Toy Story,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),1995,Jumanji,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),1995,Grumpier Old Men,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),1995,Waiting to Exhale,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),1995,Father of the Bride Part II,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
movies.columns

Index(['movieId', 'title', 'year', 'title_clean', '(no genres listed)',
       'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [14]:
movies.shape

(9737, 24)

In [15]:
links = pd.read_csv(PATH + 'links.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [16]:
links.shape

(9742, 3)

In [17]:
ratings = pd.read_csv(PATH + 'ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [18]:
# can a user rate a movie more than once (maybe at another time)?
ratings.shape

(100836, 4)

In [19]:
# no, each movie was rated only once per user
ratings.groupby(['userId','movieId']).count().nunique()

rating       1
timestamp    1
dtype: int64

In [20]:
# drop the timestamp
ratings.drop(columns=['timestamp'], axis=0, inplace=True)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [21]:
# join movies with ratings, so that we get the titles
#ratings = pd.concat([ratings, movies], axis=1, join="left")
ratings_extended =  pd.merge(ratings, movies, on="movieId")
ratings_extended

,userId,movieId,rating,title,year,title_clean,(no genres listed),Action,Adventure,Animation,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,Toy Story (1995),1995,Toy Story,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,5,1,4.0,Toy Story (1995),1995,Toy Story,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,7,1,4.5,Toy Story (1995),1995,Toy Story,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,15,1,2.5,Toy Story (1995),1995,Toy Story,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,17,1,4.5,Toy Story (1995),1995,Toy Story,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100731,610,160341,2.5,Bloodmoon (1997),1997,Bloodmoon,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
100732,610,160527,4.5,Sympathy for the Underdog (1971),1971,Sympathy for the Underdog,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
100733,610,160836,3.0,Hazard (2005),2005,Hazard,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
100734,610,163937,3.5,Blair Witch (2016),2016,Blair Witch,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
100735,610,163981,3.5,31 (2016),2016,31,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [22]:
# write datafarme 'ratings_extended' as csv
ratings_extended.to_csv('ratings_extended.csv')

In [23]:
ratings_extended = pd.read_csv('ratings_extended.csv')

/tmp/ipykernel_4637/1428709077.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings_extended = pd.read_csv('ratings_extended.csv')

In [24]:
ratings_extended

,Unnamed: 0,userId,movieId,rating,title,year,title_clean,(no genres listed),Action,Adventure,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1,1,4.0,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,5,1,4.0,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,7,1,4.5,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,15,1,2.5,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,17,1,4.5,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100731,100731,610,160341,2.5,Bloodmoon (1997),1997,Bloodmoon,0,1,0,...,0,0,0,0,0,0,0,1,0,0
100732,100732,610,160527,4.5,Sympathy for the Underdog (1971),1971,Sympathy for the Underdog,0,1,0,...,0,0,0,0,0,0,0,0,0,0
100733,100733,610,160836,3.0,Hazard (2005),2005,Hazard,0,1,0,...,0,0,0,0,0,0,0,1,0,0
100734,100734,610,163937,3.5,Blair Witch (2016),2016,Blair Witch,0,0,0,...,0,1,0,0,0,0,0,1,0,0
100735,100735,610,163981,3.5,31 (2016),2016,31,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [25]:
# get the mean rating of each movie
ratings_pivot_raw = ratings_extended.pivot(index='userId', columns='title', values='rating')
ratings_pivot_raw

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [26]:
ratings_pivot_raw.shape

(610, 9719)

In [27]:
ratings_pivot_raw.size

5928590

In [28]:
ratings_pivot_raw.isna().sum().sum()

5827854

In [29]:
# percentage of missing values
ratings_pivot_raw.isna().sum().sum()/ratings_pivot_raw.size

0.983008438768746

In [30]:
# axis is by default columns which is 0 = 'rows'
# axis rows is 1 = 'columns'

ratings_pivot_raw.mean().sort_values(ascending=False)

title
Watermark (2014)                                                               5.0
Connections (1978)                                                             5.0
Dream of Light (a.k.a. Quince Tree Sun, The) (Sol del membrillo, El) (1992)    5.0
Bill Hicks: Revelations (1993)                                                 5.0
Hellbenders (2012)                                                             5.0
                                                                              ...
Haunted House 2, A (2014)                                                      0.5
Ben-hur (2016)                                                                 0.5
Begotten (1990)                                                                0.5
Maria Bamford: The Special Special Special! (2012)                             0.5
Christmas Carol, A (1977)                                                      0.5
Length: 9719, dtype: float64

In [31]:
ratings_pivot_raw

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [32]:
ratings_pivot_raw.mean().mean()

3.26233463911876

In [33]:
global_mean = ratings_pivot_raw.mean().mean()

In [34]:
ratings_pivot = ratings_pivot_raw.fillna(global_mean)

### Export 1

In [35]:
ratings_pivot

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,4.000000,3.262335
2,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
3,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
4,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
5,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
607,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
608,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,4.500000,3.500000,3.262335,3.262335,3.262335
609,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
610,4.000000,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.500000,3.262335,...,3.262335,4.000000,3.500000,3.000000,3.262335,3.262335,2.000000,1.500000,3.262335,3.262335

In [36]:
ratings_extended

,Unnamed: 0,userId,movieId,rating,title,year,title_clean,(no genres listed),Action,Adventure,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1,1,4.0,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,5,1,4.0,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,7,1,4.5,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,15,1,2.5,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,17,1,4.5,Toy Story (1995),1995,Toy Story,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100731,100731,610,160341,2.5,Bloodmoon (1997),1997,Bloodmoon,0,1,0,...,0,0,0,0,0,0,0,1,0,0
100732,100732,610,160527,4.5,Sympathy for the Underdog (1971),1971,Sympathy for the Underdog,0,1,0,...,0,0,0,0,0,0,0,0,0,0
100733,100733,610,160836,3.0,Hazard (2005),2005,Hazard,0,1,0,...,0,0,0,0,0,0,0,1,0,0
100734,100734,610,163937,3.5,Blair Witch (2016),2016,Blair Witch,0,0,0,...,0,1,0,0,0,0,0,1,0,0
100735,100735,610,163981,3.5,31 (2016),2016,31,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### Exercise: Your first recommender

Implement a recommender function that recommends the most popular movies to a user! Work with either the movie ids or the movie titles.

In [37]:
# list of movies a user has already rated / watched
list(ratings_extended[ratings_extended['userId'] == 1]['title'])

['Toy Story (1995)',
 'Grumpier Old Men (1995)',
 'Heat (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Usual Suspects, The (1995)',
 'From Dusk Till Dawn (1996)',
 'Bottle Rocket (1996)',
 'Braveheart (1995)',
 'Rob Roy (1995)',
 'Canadian Bacon (1995)',
 'Desperado (1995)',
 'Billy Madison (1995)',
 'Clerks (1994)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Ed Wood (1994)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Pulp Fiction (1994)',
 'Stargate (1994)',
 'Tommy Boy (1995)',
 'Clear and Present Danger (1994)',
 'Forrest Gump (1994)',
 'Jungle Book, The (1994)',
 'Mask, The (1994)',
 'Blown Away (1994)',
 'Dazed and Confused (1993)',
 'Fugitive, The (1993)',
 'Jurassic Park (1993)',
 'Mrs. Doubtfire (1993)',
 "Schindler's List (1993)",
 'So I Married an Axe Murderer (1993)',
 'Three Musketeers, The (1993)',
 'Tombstone (1993)',
 'Dances with Wolves (1990)',
 'Batman (1989)',
 'Silence of the Lambs, The (1991)',
 'Pinocchio (1940)',
 'Fargo (1996)',
 'Mission: Impossible (1996)',
 'James and the Giant Peach (1996)',
 'Space Jam (1996)',
 'Rock, The (1996)',
 'Twister (1996)',
 'Independence Day (a.k.a. ID4) (1996)',
 "She's the One (1996)",
 'Wizard of Oz, The (1939)',
 'Citizen Kane (1941)',
 'Adventures of Robin Hood, The (1938)',
 'Ghost and Mrs. Muir, The (1947)',
 'Mr. Smith Goes to Washington (1939)',
 'Escape to Witch Mountain (1975)',
 'Winnie the Pooh and the Blustery Day (1968)',
 'Three Caballeros, The (1945)',
 'Sword in the Stone, The (1963)',
 'Dumbo (1941)',
 "Pete's Dragon (1977)",
 'Bedknobs and Broomsticks (1971)',
 'Alice in Wonderland (1951)',
 'That Thing You Do! (1996)',
 'Ghost and the Darkness, The (1996)',
 'Swingers (1996)',
 'Willy Wonka & the Chocolate Factory (1971)',
 "Monty Python's Life of Brian (1979)",
 'Reservoir Dogs (1992)',
 'Platoon (1986)',
 'Basic Instinct (1992)',
 'E.T. the Extra-Terrestrial (1982)',
 'Abyss, The (1989)',
 'Monty Python and the Holy Grail (1975)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Princess Bride, The (1987)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Clockwork Orange, A (1971)',
 'Apocalypse Now (1979)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Goodfellas (1990)',
 'Alien (1979)',
 'Psycho (1960)',
 'Blues Brothers, The (1980)',
 'Full Metal Jacket (1987)',
 'Henry V (1989)',
 'Quiet Man, The (1952)',
 'Terminator, The (1984)',
 'Duck Soup (1933)',
 'Shining, The (1980)',
 'Groundhog Day (1993)',
 'Back to the Future (1985)',
 'Highlander (1986)',
 'Young Frankenstein (1974)',
 'Fantasia (1940)',
 'Indiana Jones and the Last Crusade (1989)',
 'Pink Floyd: The Wall (1982)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Batman Returns (1992)',
 'Sneakers (1992)',
 'Last of the Mohicans, The (1992)',
 "McHale's Navy (1997)",
 'Best Men (1997)',
 'Grosse Pointe Blank (1997)',
 'Austin Powers: International Man of Mystery (1997)',
 'Con Air (1997)',
 'Face/Off (1997)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Conan the Barbarian (1982)',
 'L.A. Confidential (1997)',
 'Kiss the Girls (1997)',
 'Game, The (1997)',
 'I Know What You Did Last Summer (1997)',
 'Starship Troopers (1997)',
 'Big Lebowski, The (1998)',
 'Wedding Singer, The (1998)',
 'Welcome to Woop-Woop (1997)',
 'Newton Boys, The (1998)',
 'Wild Things (1998)',
 'Small Soldiers (1998)',
 'All Quiet on the Western Front (1930)',
 'Rocky (1976)',
 'Labyrinth (1986)',
 'Lethal Weapon (1987)',
 'Goonies, The (1985)',
 'Back to the Future Part III (1990)',
 'Bambi (1942)',
 'Saving Private Ryan (1998)',
 'Black Cauldron, The (1985)',
 'Flight of the Navigator (1986)',
 'Great Mouse Detective, The (1986)',
 'Honey, I Shrunk the Kids (1989)',
 'Negotiator, The (1998)',
 'Jungle Book, The (1967)',
 'Rescuers, The (1977)',
 'Return to Oz (1985)',
 'Rocketeer, The (1991)',
 'Sleeping Beauty (1959)',
 'Song of the South (1946)',
 'Tron (1982)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Lord of the Rings, The (1978)',
 "Charlotte's Web (1973)",
 'Secret of NIMH, The (1982)',
 'American Tail, An (1986)',
 'Legend (1985)',
 'NeverEnding Story, The (1984)',
 'Beetlejuice (1988)',
 'Willow (1988)',
 'Toys (1992)',
 'Few Good Men, A (1992)',
 'Rush Hour (1998)',
 'Edward Scissorhands (1990)',
 'American History X (1998)',
 'I Still Know What You Did Last Summer (1998)',
 'Enemy of the State (1998)',
 'King Kong (1933)',
 'Very Bad Things (1998)',
 'Psycho (1998)',
 'Rushmore (1998)',
 'Romancing the Stone (1984)',
 'Young Sherlock Holmes (1985)',
 'Thin Red Line, The (1998)',
 'Howard the Duck (1986)',
 'Texas Chainsaw Massacre, The (1974)',
 'Crocodile Dundee (1986)',
 '¡Three Amigos! (1986)',
 '20 Dates (1998)',
 'Office Space (1999)',
 "Logan's Run (1976)",
 'Planet of the Apes (1968)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Matrix, The (1999)',
 'Go (1999)',
 'SLC Punk! (1998)',
 'Dick Tracy (1990)',
 'Mummy, The (1999)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Superman (1978)',
 'Superman II (1980)',
 'Dracula (1931)',
 'Frankenstein (1931)',
 'Wolf Man, The (1941)',
 'Rocky Horror Picture Show, The (1975)',
 'Run Lola Run (Lola rennt) (1998)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Iron Giant, The (1999)',
 'Big (1988)',
 '13th Warrior, The (1999)',
 'American Beauty (1999)',
 'Excalibur (1981)',
 "Gulliver's Travels (1939)",
 'Total Recall (1990)',
 'Dirty Dozen, The (1967)',
 'Goldfinger (1964)',
 'From Russia with Love (1963)',
 'Dr. No (1962)',
 'Fight Club (1999)',
 'RoboCop (1987)',
 'Who Framed Roger Rabbit? (1988)',
 'Live and Let Die (1973)',
 'Thunderball (1965)',
 'Being John Malkovich (1999)',
 'Spaceballs (1987)',
 'Robin Hood (1973)',
 'Dogma (1999)',
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Longest Day, The (1962)',
 'Green Mile, The (1999)',
 'Easy Rider (1969)',
 'Talented Mr. Ripley, The (1999)',
 'Encino Man (1992)',
 'Sister Act (1992)',
 "Wayne's World (1992)",
 'Scream 3 (2000)',
 'JFK (1991)',
 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)',
 'Teenage Mutant Ninja Turtles III (1993)',
 'Red Dawn (1984)',
 'Good Morning, Vietnam (1987)',
 'Grumpy Old Men (1993)',
 'Ladyhawke (1985)',
 'Hook (1991)',
 'Predator (1987)',
 'Gladiator (2000)',
 'Road Trip (2000)',
 'Man with the Golden Gun, The (1974)',
 'Blazing Saddles (1974)',
 'Mad Max (1979)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'Shaft (1971)',
 'Big Trouble in Little China (1986)',
 'Shaft (2000)',
 'X-Men (2000)',
 'What About Bob? (1991)',
 'Transformers: The Movie (1986)',
 'M*A*S*H (a.k.a. MASH) (1970)']

In [38]:
ratings_aggregated = ratings_extended.groupby(['movieId','title'])                                   \
                               .agg(             { 'title':'size'         , 'rating':'mean'       }) \
                               .rename(columns = { 'title':'no_of_ratings', 'rating':'mean_rating'}) \
                               .reset_index()                                                        \
                               .sort_values(by = 'no_of_ratings', ascending = False) 

ratings_aggregated

,movieId,title,no_of_ratings,mean_rating
314,356,Forrest Gump (1994),329,4.164134
277,318,"Shawshank Redemption, The (1994)",317,4.429022
257,296,Pulp Fiction (1994),307,4.197068
510,593,"Silence of the Lambs, The (1991)",279,4.161290
1937,2571,"Matrix, The (1999)",278,4.192446
...,...,...,...,...
6682,58351,City of Men (Cidade dos Homens) (2007),1,4.000000
3043,4083,Best Seller (1987),1,4.000000
6686,58492,Snow Angels (2007),1,3.000000
6689,58627,Never Back Down (2008),1,3.500000
9718,193609,Andrew Dice Clay: Dice Rules (1991),1,4.000000

In [39]:
#type(ratings_pivot.mean())
ratings_pivot.mean().sort_values(ascending=False).index # [0]

Index(['Shawshank Redemption, The (1994)', 'Forrest Gump (1994)',
       'Pulp Fiction (1994)', 'Matrix, The (1999)',
       'Silence of the Lambs, The (1991)',
       'Star Wars: Episode IV - A New Hope (1977)', 'Fight Club (1999)',
       'Schindler's List (1993)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Usual Suspects, The (1995)',
       ...
       'Charlie's Angels (2000)', 'Waterworld (1995)',
       'Mission: Impossible II (2000)', 'Godzilla (1998)',
       'Nutty Professor, The (1996)', 'Batman & Robin (1997)',
       'Ace Ventura: When Nature Calls (1995)', 'Batman Forever (1995)',
       'Coneheads (1993)', 'Wild Wild West (1999)'],
      dtype='object', name='title', length=9719)

In [40]:
list_of_all = list(ratings_extended['title'].unique())
list_of_watch_user1 = list(ratings_extended[ratings_extended['userId'] == 1]['title'])
list_of_unpopular = list(ratings_aggregated[ratings_aggregated['no_of_ratings'] < 20]['title'])

In [41]:
recomm_baseline = set(list_of_all) - set(list_of_watch_user1) - set(list_of_unpopular)

recomm_baseline = list(recomm_baseline)

recomm_baseline

['Mask of Zorro, The (1998)',
 '50 First Dates (2004)',
 'Big Short, The (2015)',
 'Snow White and the Seven Dwarfs (1937)',
 'Ace Ventura: Pet Detective (1994)',
 'Wedding Crashers (2005)',
 'Gone in 60 Seconds (2000)',
 'Untouchables, The (1987)',
 'Ghost (1990)',
 'Sgt. Bilko (1996)',
 'Patton (1970)',
 'Animal House (1978)',
 'Day the Earth Stood Still, The (1951)',
 'Hobbit: The Desolation of Smaug, The (2013)',
 'Patriot Games (1992)',
 'Cars (2006)',
 'Up in the Air (2009)',
 'Wedding Planner, The (2001)',
 'Van Helsing (2004)',
 'Mortal Kombat (1995)',
 'Snowpiercer (2013)',
 'Bridges of Madison County, The (1995)',
 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 'Bowfinger (1999)',
 'Do the Right Thing (1989)',
 'Grindhouse (2007)',
 'Armageddon (1998)',
 "Bill & Ted's Bogus Journey (1991)",
 'Mission to Mars (2000)',
 'Crash (2004)',
 'Lord of War (2005)',
 'Broadcast News (1987)',
 'Batman & Robin (1997)',
 "Bug's Life, A (1998)",
 "Ocean's Thirteen (2007)",
 'Gone Baby Gone (2007)',
 'Remains of the Day, The (1993)',
 'Sense and Sensibility (1995)',
 'Corpse Bride (2005)',
 'Big Fish (2003)',
 'Birdcage, The (1996)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Awakenings (1990)',
 'Some Like It Hot (1959)',
 'Hudsucker Proxy, The (1994)',
 'Lucky Number Slevin (2006)',
 'Intolerable Cruelty (2003)',
 'Gran Torino (2008)',
 'Midnight in Paris (2011)',
 'Pitch Black (2000)',
 '28 Days Later (2002)',
 'Lara Croft: Tomb Raider (2001)',
 'Annie Hall (1977)',
 'Guardians of the Galaxy (2014)',
 'Insider, The (1999)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Jurassic Park III (2001)',
 'Troy (2004)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Departed, The (2006)',
 'Dirty Harry (1971)',
 'Red Dragon (2002)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Identity (2003)',
 'Little Shop of Horrors (1986)',
 '2001: A Space Odyssey (1968)',
 'Bedazzled (2000)',
 'Four Rooms (1995)',
 'Nell (1994)',
 "Miller's Crossing (1990)",
 'King Kong (2005)',
 'Sleepy Hollow (1999)',
 'Role Models (2008)',
 'Hancock (2008)',
 'Jerry Maguire (1996)',
 'Bonnie and Clyde (1967)',
 'Galaxy Quest (1999)',
 'Panic Room (2002)',
 'Anger Management (2003)',
 'Spider-Man 2 (2004)',
 'Freaky Friday (2003)',
 'Captain America: The Winter Soldier (2014)',
 'Limitless (2011)',
 'Natural Born Killers (1994)',
 'Payback (1999)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Gattaca (1997)',
 'Kill Bill: Vol. 1 (2003)',
 'Sliding Doors (1998)',
 'Fast Times at Ridgemont High (1982)',
 'Waterboy, The (1998)',
 'Sixth Sense, The (1999)',
 'Mulholland Falls (1996)',
 "Romy and Michele's High School Reunion (1997)",
 'Madagascar (2005)',
 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)',
 'RoboCop 2 (1990)',
 'Memento (2000)',
 'Inspector Gadget (1999)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Zack and Miri Make a Porno (2008)',
 'Repo Man (1984)',
 'Ghostbusters II (1989)',
 'Demolition Man (1993)',
 'Notting Hill (1999)',
 'Joe Dirt (2001)',
 'Girl with the Dragon Tattoo, The (Män som hatar kvinnor) (2009)',
 'Karate Kid, The (1984)',
 'Happy Gilmore (1996)',
 'Akira (1988)',
 'Aviator, The (2004)',
 'Kung Fu Panda (2008)',
 'Weird Science (1985)',
 'Philadelphia Story, The (1940)',
 'Matilda (1996)',
 'K-PAX (2001)',
 'Enemy at the Gates (2001)',
 'My Big Fat Greek Wedding (2002)',
 'Hotel Rwanda (2004)',
 "Carlito's Way (1993)",
 'Johnny Mnemonic (1995)',
 'Network (1976)',
 'Return of the Pink Panther, The (1975)',
 'Titanic (1997)',
 'Lion King, The (1994)',
 'Eyes Wide Shut (1999)',
 'Knocked Up (2007)',
 'Beverly Hills Cop III (1994)',
 'Trainspotting (1996)',
 'Terminal, The (2004)',
 'L.A. Story (1991)',
 'In the Name of the Father (1993)',
 'Out of Sight (1998)',
 'Lives of Others, The (Das leben der Anderen) (2006)',
 'Hobbit: An Unexpected Journey, The (2012)',
 'Live Free or Die Hard (2007)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Graduate, The (1967)',
 'City of God (Cidade de Deus) (2002)',
 'Kids (1995)',
 'Sleepless in Seattle (1993)',
 'Finding Forrester (2000)',
 'The Martian (2015)',
 'Apollo 13 (1995)',
 'Spy Hard (1996)',
 'V for Vendetta (2006)',
 "It's a Wonderful Life (1946)",
 'Mad Max: Fury Road (2015)',
 'Crow, The (1994)',
 'Ransom (1996)',
 'Hoop Dreams (1994)',
 'Stranger than Fiction (2006)',
 'About Schmidt (2002)',
 'Mean Girls (2004)',
 'What Women Want (2000)',
 "Ferris Bueller's Day Off (1986)",
 'Philadelphia (1993)',
 '13 Going on 30 (2004)',
 'Bruce Almighty (2003)',
 'Behind Enemy Lines (2001)',
 'Death Proof (2007)',
 'Shallow Grave (1994)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Dark Knight Rises, The (2012)',
 'First Blood (Rambo: First Blood) (1982)',
 'Whiplash (2014)',
 'Multiplicity (1996)',
 'Coyote Ugly (2000)',
 'Harry Potter and the Order of the Phoenix (2007)',
 'Coneheads (1993)',
 'Da Vinci Code, The (2006)',
 '25th Hour (2002)',
 'Watchmen (2009)',
 'Star Trek V: The Final Frontier (1989)',
 'Tin Cup (1996)',
 'Pretty in Pink (1986)',
 'Truman Show, The (1998)',
 'Before Sunrise (1995)',
 'The Machinist (2004)',
 'True Lies (1994)',
 'Punch-Drunk Love (2002)',
 'Stigmata (1999)',
 'Quiz Show (1994)',
 'Strictly Ballroom (1992)',
 'Man on the Moon (1999)',
 'Children of Men (2006)',
 'Downfall (Untergang, Der) (2004)',
 'October Sky (1999)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 '101 Dalmatians (1996)',
 'Addams Family, The (1991)',
 'Titan A.E. (2000)',
 'Gone with the Wind (1939)',
 'Last Samurai, The (2003)',
 'I Am Legend (2007)',
 'Slumdog Millionaire (2008)',
 'Babe: Pig in the City (1998)',
 'My Cousin Vinny (1992)',
 'Hackers (1995)',
 'Christmas Story, A (1983)',
 "Charlie's Angels (2000)",
 'Wreck-It Ralph (2012)',
 'Wonder Boys (2000)',
 'George of the Jungle (1997)',
 'Exorcist, The (1973)',
 'Italian Job, The (2003)',
 'Spy Kids (2001)',
 'Step Brothers (2008)',
 'When Harry Met Sally... (1989)',
 'In the Line of Fire (1993)',
 'Aladdin (1992)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Naked Gun: From the Files of Police Squad!, The (1988)',
 'Mr. Deeds (2002)',
 'The Hunger Games (2012)',
 'Nightmare Before Christmas, The (1993)',
 'Blade Runner (1982)',
 "King's Speech, The (2010)",
 'Crocodile Dundee II (1988)',
 "Charlie's Angels: Full Throttle (2003)",
 'Last King of Scotland, The (2006)',
 'Bone Collector, The (1999)',
 'Terminator 3: Rise of the Machines (2003)',
 "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)",
 'Big Daddy (1999)',
 'Babe (1995)',
 'Specialist, The (1994)',
 'Matrix Reloaded, The (2003)',
 'Home Alone (1990)',
 'Hunchback of Notre Dame, The (1996)',
 'Crazy, Stupid, Love. (2011)',
 'Jaws (1975)',
 "Dante's Peak (1997)",
 'Other Guys, The (2010)',
 "Rosemary's Baby (1968)",
 'Peter Pan (1953)',
 'Godzilla (1998)',
 'Rogue One: A Star Wars Story (2016)',
 "Bill & Ted's Excellent Adventure (1989)",
 'Good Night, and Good Luck. (2005)',
 'Midnight Cowboy (1969)',
 'Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku no Tobira) (2001)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'X-Files: Fight the Future, The (1998)',
 'Fighter, The (2010)',
 'The Imitation Game (2014)',
 'Executive Decision (1996)',
 'Buffy the Vampire Slayer (1992)',
 'All About Eve (1950)',
 'What Lies Beneath (2000)',
 'Fear and Loathing in Las Vegas (1998)',
 'O Brother, Where Art Thou? (2000)',
 "Knight's Tale, A (2001)",
 'Manchurian Candidate, The (1962)',
 'Deadpool (2016)',
 'Zombieland (2009)',
 'Mission: Impossible - Ghost Protocol (2011)',
 'Brady Bunch Movie, The (1995)',
 "Singin' in the Rain (1952)",
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)',
 "Lemony Snicket's A Series of Unfortunate Events (2004)",
 'Holes (2003)',
 'Misery (1990)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Best in Show (2000)',
 'Elizabeth (1998)',
 '1408 (2007)',
 'Super Size Me (2004)',
 'Stripes (1981)',
 'This Is Spinal Tap (1984)',
 'Thor: The Dark World (2013)',
 'Perfect Storm, The (2000)',
 'Whole Nine Yards, The (2000)',
 'Forget Paris (1995)',
 'Fifth Element, The (1997)',
 'Scary Movie 2 (2001)',
 'Keeping the Faith (2000)',
 'District 9 (2009)',
 'Lethal Weapon 2 (1989)',
 'Waterworld (1995)',
 'Breakfast Club, The (1985)',
 'Adaptation (2002)',
 'Backdraft (1991)',
 'Kingsman: The Secret Service (2015)',
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Chronicles of Riddick, The (2004)',
 'National Treasure: Book of Secrets (2007)',
 'Scanner Darkly, A (2006)',
 "What's Eating Gilbert Grape (1993)",
 'Dangerous Minds (1995)',
 "Monty Python's And Now for Something Completely Different (1971)",
 'Trading Places (1983)',
 'Bend It Like Beckham (2002)',
 'Ben-Hur (1959)',
 'Prince of Egypt, The (1998)',
 'Species (1995)',
 'Dancer in the Dark (2000)',
 'U.S. Marshals (1998)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Escape from L.A. (1996)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Showgirls (1995)',
 'Third Man, The (1949)',
 'Scarface (1983)',
 'Superman Returns (2006)',
 'Pirates of the Caribbean: On Stranger Tides (2011)',
 'Pursuit of Happyness, The (2006)',
 'Remember the Titans (2000)',
 'Liar Liar (1997)',
 'Final Destination (2000)',
 'Indiana Jones and the Kingdom of the Crystal Skull (2008)',
 'Peacemaker, The (1997)',
 '27 Dresses (2008)',
 'Solaris (2002)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Beauty and the Beast (1991)',
 'Dark Crystal, The (1982)',
 'American Psycho (2000)',
 'Arachnophobia (1990)',
 'Desperately Seeking Susan (1985)',
 'Hurt Locker, The (2008)',
 'Barb Wire (1996)',
 'Carrie (1976)',
 'Rocky III (1982)',
 'I, Robot (2004)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Erin Brockovich (2000)',
 'Wild Wild West (1999)',
 'Bowling for Columbine (2002)',
 'Wall Street (1987)',
 'Mission: Impossible III (2006)',
 'Bodyguard, The (1992)',
 'Pretty Woman (1990)',
 'How to Train Your Dragon (2010)',
 'Streetcar Named Desire, A (1951)',
 'Quantum of Solace (2008)',
 'Cocoon (1985)',
 'Short Circuit (1986)',
 'Cool Runnings (1993)',
 'Old School (2003)',
 'Girl Next Door, The (2004)',
 'Frighteners, The (1996)',
 'Craft, The (1996)',
 'The Revenant (2015)',
 'Time to Kill, A (1996)',
 'Antz (1998)',
 'True Romance (1993)',
 'Top Gun (1986)',
 'Brazil (1985)',
 'Fox and the Hound, The (1981)',
 'Skyfall (2012)',
 'Shine (1996)',
 'Doctor Zhivago (1965)',
 'Teenage Mutant Ninja Turtles (1990)',
 'Planet of the Apes (2001)',
 'Me, Myself & Irene (2000)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Casablanca (1942)',
 'Strange Days (1995)',
 'Bourne Identity, The (2002)',
 'Catch Me If You Can (2002)',
 'Boiler Room (2000)',
 'Ring, The (2002)',
 'Jay and Silent Bob Strike Back (2001)',
 'Zootopia (2016)',
 'Pride & Prejudice (2005)',
 'Wrestler, The (2008)',
 'Real Genius (1985)',
 'Pushing Tin (1999)',
 'Girl with the Dragon Tattoo, The (2011)',
 'Raging Bull (1980)',
 'Casino (1995)',
 'Grease (1978)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 "You've Got Mail (1998)",
 'Illusionist, The (2006)',
 'Die Hard 2 (1990)',
 "All the President's Men (1976)",
 'Airplane! (1980)',
 'Naked Gun 2 1/2: The Smell of Fear, The (1991)',
 'Good Will Hunting (1997)',
 "Amores Perros (Love's a Bitch) (2000)",
 'Notorious (1946)',
 'Mars Attacks! (1996)',
 'Clueless (1995)',
 "Pirates of the Caribbean: At World's End (2007)",
 'Django Unchained (2012)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 'Jumanji (1995)',
 'The Scorpion King (2002)',
 'Shrek 2 (2004)',
 'Arrival, The (1996)',
 'Pearl Harbor (2001)',
 'X-Men: The Last Stand (2006)',
 'Minority Report (2002)',
 'American Werewolf in London, An (1981)',
 'Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)',
 'On the Waterfront (1954)',
 'League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Searching for Bobby Fischer (1993)',
 'History of Violence, A (2005)',
 'Walk in the Clouds, A (1995)',
 'Crying Game, The (1992)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Roman Holiday (1953)',
 'Meet the Fockers (2004)',
 'Dawn of the Dead (1978)',
 'Babel (2006)',
 'Sting, The (1973)',
 'Dark City (1998)',
 'Aeon Flux (2005)',
 'Star Trek: Generations (1994)',
 'First Knight (1995)',
 'Chicago (2002)',
 'Dragonheart (1996)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Great Gatsby, The (2013)',
 'Cube (1997)',
 'Dolores Claiborne (1995)',
 'Boondock Saints, The (2000)',
 'Moonstruck (1987)',
 '300 (2007)',
 'Burn After Reading (2008)',
 'Super Mario Bros. (1993)',
 'Click (2006)',
 'Cell, The (2000)',
 'xXx (2002)',
 'Phone Booth (2002)',
 'Never Been Kissed (1999)',
 'Princess Diaries, The (2001)',
 "We're the Millers (2013)",
 'Major League (1989)',
 'Thank You for Smoking (2006)',
 'Raising Arizona (1987)',
 'Ratatouille (2007)',
 'School of Rock (2003)',
 'Bridget Jones: The Edge of Reason (2004)',
 "There's Something About Mary (1998)",
 'Transformers: Revenge of the Fallen (2009)',
 '21 Grams (2003)',
 'Spider-Man 3 (2007)',
 'Gremlins (1984)',
 'Rounders (1998)',
 'Dave (1993)',
 'Femme Nikita, La (Nikita) (1990)',
 'Beautiful Mind, A (2001)',
 'Guardians of the Galaxy 2 (2017)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Outbreak (1995)',
 'Adjustment Bureau, The (2011)',
 'Beach, The (2000)',
 'Grand Day Out with Wallace and Gromit, A (1989)',
 'Along Came Polly (2004)',
 'Sabrina (1954)',
 'Truth About Cats & Dogs, The (1996)',
 'Sex, Lies, and Videotape (1989)',
 'Edge of Tomorrow (2014)',
 'Legends of the Fall (1994)',
 'Frozen (2013)',
 'I Heart Huckabees (2004)',
 'Air Force One (1997)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Vertigo (1958)',
 'Life of Pi (2012)',
 'Score, The (2001)',
 'Sabrina (1995)',
 'Great Escape, The (1963)',
 'Strangers on a Train (1951)',
 'Jurassic World (2015)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'To Die For (1995)',
 'Diamonds Are Forever (1971)',
 'Chocolat (2000)',
 'Tootsie (1982)',
 'Dead Man Walking (1995)',
 'Moon (2009)',
 'Equilibrium (2002)',
 'Planes, Trains & Automobiles (1987)',
 'Hannibal (2001)',
 'Mulan (1998)',
 "Weekend at Bernie's (1989)",
 "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 'Road to Perdition (2002)',
 'Young Guns (1988)',
 'American Pie 2 (2001)',
 'Island, The (2005)',
 "Wayne's World 2 (1993)",
 'Blast from the Past (1999)',
 'Juno (2007)',
 'Sixteen Candles (1984)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Gone Girl (2014)',
 'Lawrence of Arabia (1962)',
 "She's All That (1999)",
 'Girl, Interrupted (1999)',
 'As Good as It Gets (1997)',
 'Wolf of Wall Street, The (2013)',
 'Halloween (1978)',
 'Thing, The (1982)',
 "Bridget Jones's Diary (2001)",
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'Lethal Weapon 4 (1998)',
 'Simpsons Movie, The (2007)',
 'Bring It On (2000)',
 'Analyze This (1999)',
 'Red (2010)',
 'Deep Blue Sea (1999)',
 'Matrix Revolutions, The (2003)',
 'Planet Terror (2007)',
 'North by Northwest (1959)',
 'Miss Congeniality (2000)',
 'Bourne Ultimatum, The (2007)',
 'Garden State (2004)',
 'Time Bandits (1981)',
 'Evil Dead, The (1981)',
 'Glory (1989)',
 'Inside Out (2015)',
 'Dune (1984)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Coraline (2009)',
 'Capote (2005)',
 'Finding Nemo (2003)',
 'Broken Arrow (1996)',
 'Napoleon Dynamite (2004)',
 'Net, The (1995)',
 'Thor: Ragnarok (2017)',
 'John Wick (2014)',
 'Iron Man 2 (2010)',
 'Last Emperor, The (1987)',
 'Transformers (2007)',
 'Gangs of New York (2002)',
 "Hitchhiker's Guide to the Galaxy, The (2005)",
 'Terminator 2: Judgment Day (1991)',
 'Contact (1997)',
 'Witness (1985)',
 'Pineapple Express (2008)',
 'Gods Must Be Crazy, The (1980)',
 'Island of Dr. Moreau, The (1996)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'About a Boy (2002)',
 'Blow (2001)',
 'Family Man, The (2000)',
 'For Your Eyes Only (1981)',
 'Inception (2010)',
 'Brave (2012)',
 'Gosford Park (2001)',
 'Bad Santa (2003)',
 'Serendipity (2001)',
 'Fatal Attraction (1987)',
 'Phenomenon (1996)',
 'Bulworth (1998)',
 'Cape Fear (1991)',
 'Batman Forever (1995)',
 'Richie Rich (1994)',
 'Elf (2003)',
 'Signs (2002)',
 'Waiting for Guffman (1996)',
 '6th Day, The (2000)',
 'Intouchables (2011)',
 "My Best Friend's Wedding (1997)",
 'Drive (2011)',
 'Nine Months (1995)',
 'Rocky IV (1985)',
 'Lethal Weapon 3 (1992)',
 'To Catch a Thief (1955)',
 'Much Ado About Nothing (1993)',
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 'American Graffiti (1973)',
 'Rudy (1993)',
 'Underworld (2003)',
 'Lawnmower Man, The (1992)',
 'Saint, The (1997)',
 "Breakfast at Tiffany's (1961)",
 'Boot, Das (Boat, The) (1981)',
 'Junior (1994)',
 'Die Hard: With a Vengeance (1995)',
 'Money Pit, The (1986)',
 'Little Big Man (1970)',
 'Laputa: Castle in the Sky (Tenkû no shiro Rapyuta) (1986)',
 'Moneyball (2011)',
 'Village, The (2004)',
 'Jewel of the Nile, The (1985)',
 'Adventures in Babysitting (1987)',
 "William Shakespeare's Romeo + Juliet (1996)",
 'Paper, The (1994)',
 'Sin City (2005)',
 'Down Periscope (1996)',
 'Captain Phillips (2013)',
 'Arlington Road (1999)',
 'Love Actually (2003)',
 'Perks of Being a Wallflower, The (2012)',
 'Disclosure (1994)',
 'Starsky & Hutch (2004)',
 'Captain America: The First Avenger (2011)',
 'First Wives Club, The (1996)',
 'Coming to America (1988)',
 'Deep Impact (1998)',
 'Into the Wild (2007)',
 'Tropic Thunder (2008)',
 'Pay It Forward (2000)',
 'Cruel Intentions (1999)',
 'Shaun of the Dead (2004)',
 'WarGames (1983)',
 'Dogville (2003)',
 'Shutter Island (2010)',
 'Tomorrow Never Dies (1997)',
 'Sweet Home Alabama (2002)',
 'Godfather: Part II, The (1974)',
 'Poltergeist (1982)',
 'Fried Green Tomatoes (1991)',
 'Midnight Run (1988)',
 'Driving Miss Daisy (1989)',
 'Father of the Bride Part II (1995)',
 'Cider House Rules, The (1999)',
 'Rear Window (1954)',
 "Jacob's Ladder (1990)",
 'Sound of Music, The (1965)',
 'Birds, The (1963)',
 'Mary Poppins (1964)',
 'The Lego Movie (2014)',
 'Predator 2 (1990)',
 'Resident Evil (2002)',
 'Star Wars: Episode VII - The Force Awakens (2015)',
 'Delicatessen (1991)',
 'Mummy Returns, The (2001)',
 'Training Day (2001)',
 'Little Nicky (2000)',
 'Splash (1984)',
 'Triplets of Belleville, The (Les triplettes de Belleville) (2003)',
 'Vanilla Sky (2001)',
 'Eraser (1996)',
 'Finding Neverland (2004)',
 'Terms of Endearment (1983)',
 'Fletch (1985)',
 'Donnie Darko (2001)',
 'Manhattan (1979)',
 'My Neighbor Totoro (Tonari no Totoro) (1988)',
 'Meet Joe Black (1998)',
 'Mallrats (1995)',
 'Conspiracy Theory (1997)',
 'Logan (2017)',
 'Star Trek Into Darkness (2013)',
 'Man in the Iron Mask, The (1998)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Midnight in the Garden of Good and Evil (1997)',
 'Kingpin (1996)',
 'Roger & Me (1989)',
 'Mission: Impossible II (2000)',
 'X-Men: Days of Future Past (2014)',
 'Poseidon Adventure, The (1972)',
 'Quick and the Dead, The (1995)',
 'Cinderella (1950)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Secret Life of Walter Mitty, The (2013)',
 'Bridesmaids (2011)',
 'Rise of the Planet of the Apes (2011)',
 'Donnie Brasco (1997)',
 'Iron Man (2008)',
 'Hulk (2003)',
 'Mulholland Drive (2001)',
 'Brokeback Mountain (2005)',
 'Taken (2008)',
 'Scream 2 (1997)',
 'Hero (Ying xiong) (2002)',
 'Cable Guy, The (1996)',
 'Snatch (2000)',
 'There Will Be Blood (2007)',
 'Blade (1998)',
 'Tank Girl (1995)',
 'Sleepers (1996)',
 'Natural, The (1984)',
 'Die Hard (1988)',
 'Army of Darkness (1993)',
 'American Pie (1999)',
 'Ice Age 2: The Meltdown (2006)',
 'Big Hero 6 (2014)',
 'Little Mermaid, The (1989)',
 'Animatrix, The (2003)',

In [42]:
# we need to read the following preprocessed dataframes:
#              - ratings_extended
#              - ratings_aggregated


# collaborative filtering = look at ratings only!
def recommend_popular(query, ratings, k=10):
    """
    Filters and recommends the top k movies for any given input query. 
    Returns a list of k movie ids.
    """
    # 1. candidate generation
    
    # list of all movies
    list_of_all = list(ratings_extended['title'].unique())
    # filter out movies that the user has already seen
    list_of_watch_user1 = list(ratings_extended[ratings_extended['userId'] == 1]['title'])
    # filter out movies that have been watched by less than 20/50/100... users
    list_of_unpopular = list(ratings_aggregated[ratings_aggregated['no_of_ratings'] < 20]['title'])
    
    recomm_baseline = set(list_of_all) - set(list_of_watch_user1) - set(list_of_unpopular)

    recomm_baseline = list(recomm_baseline)

    recomm_baseline
    # 2. scoring
    
    # calculate the average rating for each movie
    
    
    # 3. ranking
    
    # return the top-k highest rated movie ids or titles

In [43]:
type(recomm_baseline)

list

### Export 2

In [44]:
ratings_aggregated

,movieId,title,no_of_ratings,mean_rating
314,356,Forrest Gump (1994),329,4.164134
277,318,"Shawshank Redemption, The (1994)",317,4.429022
257,296,Pulp Fiction (1994),307,4.197068
510,593,"Silence of the Lambs, The (1991)",279,4.161290
1937,2571,"Matrix, The (1999)",278,4.192446
...,...,...,...,...
6682,58351,City of Men (Cidade dos Homens) (2007),1,4.000000
3043,4083,Best Seller (1987),1,4.000000
6686,58492,Snow Angels (2007),1,3.000000
6689,58627,Never Back Down (2008),1,3.500000
9718,193609,Andrew Dice Clay: Dice Rules (1991),1,4.000000

### Non-negative matrix factorization (NMF)

In [45]:
import numpy as np
from sklearn.decomposition import NMF 
import pandas as pd

In [46]:
ratings_pivot

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,4.000000,3.262335
2,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
3,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
4,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
5,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
607,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
608,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,4.500000,3.500000,3.262335,3.262335,3.262335
609,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,...,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335
610,4.000000,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.262335,3.500000,3.262335,...,3.262335,4.000000,3.500000,3.000000,3.262335,3.262335,2.000000,1.500000,3.262335,3.262335

In [47]:
nmf_model = NMF(n_components=20, max_iter=500)

In [48]:
nmf_model.fit(ratings_pivot)

NMF(max_iter=500, n_components=20)

In [49]:
Q_matrix = nmf_model.components_

In [50]:
Q_matrix.shape

(20, 9719)

In [51]:
Q_matrix

array([[ 0.07898565,  1.51734954,  1.5082054 , ...,  1.73219777,
         0.        ,  1.37368036],
       [ 4.22999186,  1.43982885,  1.49384104, ...,  1.99610351,
         4.93558558,  2.14174659],
       [16.09719866, 20.27365678, 20.52402033, ..., 22.38396138,
         2.07843932, 20.16087045],
       ...,
       [ 2.79674033,  2.40307086,  2.76373695, ...,  2.38302145,
         1.57675345,  1.75464455],
       [ 2.40603139,  2.67745784,  2.6698329 , ...,  2.69782566,
         2.41693138,  2.64564343],
       [ 3.16923982,  2.85221449,  2.85985479, ...,  2.79383264,
         3.15665177,  2.86835287]])

In [52]:
nmf_model.feature_names_in_

array(["'71 (2014)", "'Hellboy': The Seeds of Creation (2004)",
       "'Round Midnight (1986)", ..., 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)'], dtype=object)

In [53]:
Q = pd.DataFrame(data=Q_matrix,
            columns=nmf_model.feature_names_in_)

In [54]:
Q

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
0,0.078986,1.517350,1.508205,1.516471,1.516365,1.470610,0.000023,1.531848,1.225001,1.507749,...,1.623559,1.475034,0.154887,1.529145,1.514518,0.043880,1.740701,1.732198,0.000000,1.373680
1,4.229992,1.439829,1.493841,1.399010,1.404607,2.198384,5.396539,1.495434,0.000000,1.060014,...,1.762687,0.584095,3.938460,1.649548,1.479437,3.235719,4.426449,1.996104,4.935586,2.141747
2,16.097199,20.273657,20.524020,20.404143,20.367189,19.777592,0.000000,20.243596,9.169061,15.989604,...,20.192879,12.268895,18.060520,21.131557,20.213282,8.322989,22.339400,22.383961,2.078439,20.160870
3,3.799329,5.246494,5.025231,4.891348,4.963399,4.584005,3.026116,4.784476,33.504726,4.376051,...,4.606538,11.515059,2.585949,3.595052,4.691711,3.833417,2.093464,0.000000,1.851603,5.983275
4,26.803704,30.958949,30.843135,30.684511,30.699611,30.598407,27.872864,31.006686,15.425144,14.658959,...,0.000000,30.428980,27.208795,31.149560,30.946106,24.861313,0.000000,31.122798,23.120212,31.029100
5,3.940012,25.206214,6.838032,3.969767,4.302382,7.848813,0.000000,27.325092,64.676367,8.644824,...,10.631739,93.819498,3.297307,25.303703,27.069916,108.778626,99.085630,30.405239,65.038466,64.287896
6,3.071782,12.283060,12.132146,11.830330,11.787059,6.947902,0.000000,9.515095,37.416420,10.411573,...,10.326907,1.149215,7.301333,14.163126,12.362595,13.286004,9.745246,17.701597,9.774583,9.763872
7,4.633762,16.306994,10.374062,9.027983,5.785549,29.596585,32.632419,8.306764,10.320442,21.213748,...,26.057888,26.440516,0.000000,10.210041,10.126669,102.170914,77.673394,28.337059,10.230758,7.848490
8,183.111715,127.907769,129.485863,130.575492,130.258428,154.712967,147.919461,143.297271,176.348424,144.647386,...,139.219049,245.720425,134.198440,104.021665,128.497326,243.836642,31.101381,30.087788,87.752217,142.209573
9,0.000000,4.469285,4.107849,1.766640,2.243693,6.375107,31.383337,3.517806,6.758538,8.288970,...,4.953600,0.000000,2.490557,5.402045,4.311500,27.375418,20.269343,7.918207,14.787642,5.615456
10,14.023477,6.531619,5.099968,4.892467,5.248408,0.000000,10.758057,5.838473,0.000000,6.678872,...,5.890317,64.486823,2.901105,0.000000,5.956637,0.000000,0.000000,0.000000,17.917301,0.000000
11,21.883709,24.391039,24.968269,25.319991,25.368454,26.213498,22.217168,25.258670,11.584715,28.226569,...,28.230622,28.015299,17.592958,23.433187,24.738291,35.677418,17.213228,15.083307,23.595119,23.836896
12,0.538410,2.245606,2.226132,2.158183,2.159460,0.284183,1.799793,2.461965,4.002604,0.723792,...,1.065376,0.000000,3.018525,2.461134,2.220587,0.000000,2.366447,2.270181,2.121246,2.370820
13,2.212138,0.879441,0.871686,0.906915,0.907003,2.415678,0.000000,0.286708,0.000000,2.206670,...,1.624306,3.824665,1.419545,0.449319,0.839979,1.789520,1.117737,0.458400,0.352252,0.994044
14,2.210893,0.751921,0.736542,0.809999,0.807844,1.838130,2.561408,1.034413,2.096922,1.575657,...,1.633653,1.262229,0.689563,0.866517,0.810702,4.138681,0.000000,0.000000,2.409032,0.798491
15,1.506545,0.923892,0.849782,0.768442,0.764592,1.081715,2.649025,1.025620,0.000000,0.852256,...,0.877302,0.841019,1.331603,1.030352,0.962900,1.730103,1.411987,1.912841,1.604844,0.538460
16,0.704775,0.685922,0.000000,0.000000,0.000000,0.000000,0.458558,0.695390,2.023914,0.000000,...,0.000000,3.214101,0.682122,0.658674,0.692226,4.355403,2.998426,0.591770,2.999676,2.038607
17,2.796740,2.403071,2.763737,2.808631,2.809796,2.767793,2.913031,2.402889,1.695361,2.773785,...,2.730724,1.073996,2.791617,2.420733,2.401062,0.922970,1.099439,2.383021,1.576753,1.754645
18,2.406031,2.677458,2.669833,2.671097,2.667807,2.656851,2.349285,2.674039,2.602757,2.667740,...,2.681279,2.685115,2.430283,2.673962,2.670288,2.398255,2.670537,2.697826,2.416931,2.645643
19,3.169240,2.852214,2.859855,2.861635,2.861453,2.853656,3.166761,2.853048,2.893157,2.866594,...,2.827778,2.838234,3.159630,2.850807,2.854285,3.140728,2.727545,2.793833,3.156652,2.868353

In [55]:
nmf_model.transform(ratings_pivot).shape

/home/florianriemann/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1692: ConvergenceWarning: Maximum number of iterations 500 reached. Increase it to improve convergence.
  warnings.warn(

(610, 20)

In [56]:
P_matrix = nmf_model.transform(ratings_pivot)
P_matrix

/home/florianriemann/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1692: ConvergenceWarning: Maximum number of iterations 500 reached. Increase it to improve convergence.
  warnings.warn(

array([[2.44311727e-01, 8.06439976e-03, 1.14426452e-03, ...,
        7.72551636e-01, 0.00000000e+00, 2.31252120e-03],
       [2.68110806e-01, 1.55940564e-02, 7.79300627e-04, ...,
        8.25201431e-01, 0.00000000e+00, 4.22773924e-06],
       [2.72682727e-01, 1.40513558e-02, 9.22086038e-04, ...,
        8.39781518e-01, 0.00000000e+00, 7.19160104e-04],
       ...,
       [3.11480516e-01, 0.00000000e+00, 1.52920830e-02, ...,
        5.39585414e-01, 3.87270354e-04, 0.00000000e+00],
       [2.71084936e-01, 1.40489081e-02, 1.05147029e-03, ...,
        8.06604702e-01, 1.34004808e-04, 0.00000000e+00],
       [2.18989687e-02, 0.00000000e+00, 1.90060224e-03, ...,
        8.88951736e-01, 0.00000000e+00, 0.00000000e+00]])

In [57]:
pd.DataFrame(data = P_matrix, index = ratings_pivot.index)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
userId,,,,,,,,,,,,,,,,,,,,
1,0.244312,0.008064,0.001144,0.000000,0.001649,0.000483,0.000000,0.000105,0.000141,0.002651,0.002510,0.003181,0.140362,0.107139,0.069352,0.106664,0.363659,0.772552,0.000000,2.312521e-03
2,0.268111,0.015594,0.000779,0.003511,0.000227,0.000279,0.000538,0.000072,0.000027,0.000000,0.000147,0.002715,0.113896,0.087774,0.060090,0.067858,0.407054,0.825201,0.000000,4.227739e-06
3,0.272683,0.014051,0.000922,0.002185,0.000051,0.000033,0.000000,0.000040,0.000062,0.000000,0.000426,0.002854,0.104258,0.082449,0.056588,0.054454,0.422134,0.839782,0.000000,7.191601e-04
4,0.242709,0.008054,0.001338,0.000652,0.000797,0.000540,0.002555,0.000512,0.000000,0.000000,0.000550,0.001769,0.074228,0.056384,0.038013,0.044775,0.430891,0.892769,0.000000,5.754270e-07
5,0.267268,0.015157,0.001325,0.001458,0.000209,0.000000,0.001205,0.000080,0.000027,0.000520,0.000238,0.003043,0.129253,0.100846,0.064502,0.068735,0.404124,0.800919,0.000675,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.125695,0.000626,0.011493,0.002631,0.000000,0.001855,0.007260,0.000505,0.000000,0.002589,0.000000,0.004208,0.112805,0.117105,0.053846,0.059879,0.376240,0.761333,0.002774,2.682279e-03
607,0.246963,0.023186,0.001895,0.000000,0.000164,0.000000,0.000900,0.000000,0.000122,0.000000,0.000299,0.010761,0.402623,0.310739,0.192724,0.270658,0.150167,0.353354,0.000000,0.000000e+00
608,0.311481,0.000000,0.015292,0.007654,0.000000,0.000033,0.000609,0.000000,0.000000,0.001244,0.000000,0.004640,0.183431,0.143236,0.240420,0.089515,0.299390,0.539585,0.000387,0.000000e+00
609,0.271085,0.014049,0.001051,0.002028,0.000173,0.000000,0.000695,0.000082,0.000024,0.000208,0.000204,0.002970,0.125957,0.098656,0.066671,0.071680,0.405349,0.806605,0.000134,0.000000e+00
610,0.021899,0.000000,0.001901,0.016773,0.000000,0.000163,0.000000,0.000002,0.001465,0.000000,0.003217,0.011862,0.028780,0.048189,0.015223,0.013736,0.417699,0.888952,0.000000,0.000000e+00

In [58]:
P_matrix.shape, Q_matrix.shape

((610, 20), (20, 9719))

In [59]:
R_hat_matrix = np.dot(P_matrix,Q_matrix)

In [60]:
R_hat_matrix.shape

(610, 9719)

In [61]:
R_hat = pd.DataFrame(data    = R_hat_matrix,
                     columns = nmf_model.feature_names_in_,
                     index   = ratings_pivot.index)

In [62]:
R_hat

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.299896,3.266951,3.269940,3.289157,3.291775,3.265511,3.432007,3.272447,3.206837,3.262410,...,3.225789,3.355118,3.403155,3.259096,3.267310,3.338475,3.203991,3.241548,3.274396,3.225356
2,3.273914,3.259012,3.262119,3.293445,3.294467,3.262647,3.298488,3.263524,3.336571,3.260532,...,3.261341,3.245510,3.370420,3.261149,3.258641,3.293777,3.237789,3.217832,3.231894,3.257326
3,3.279774,3.256750,3.260799,3.295393,3.296504,3.265756,3.281409,3.262396,3.279273,3.269063,...,3.269795,3.268711,3.359048,3.255477,3.256426,3.291429,3.226296,3.201382,3.226104,3.257083
4,3.274116,3.262340,3.268200,3.302741,3.302345,3.258601,3.277430,3.258980,3.262460,3.258698,...,3.246862,3.208090,3.346128,3.268455,3.260682,3.314639,3.213421,3.256566,3.220038,3.243485
5,3.261879,3.260620,3.261868,3.291489,3.292465,3.255490,3.285066,3.260134,3.311214,3.259296,...,3.258378,3.239034,3.384895,3.265190,3.260218,3.303503,3.256461,3.224519,3.235938,3.259376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.270249,3.251602,3.224255,3.240465,3.241009,3.233277,3.107451,3.212593,3.442170,3.230829,...,3.233749,3.278897,3.396723,3.257536,3.249969,3.576568,3.364794,3.235638,3.216740,3.307389
607,3.249327,3.267170,3.263628,3.258395,3.258477,3.253928,3.423456,3.266765,3.420898,3.253943,...,3.262782,3.279269,3.619951,3.269294,3.270769,3.333419,3.293672,3.208589,3.270661,3.204010
608,3.206411,3.254250,3.229311,3.254655,3.255423,3.361017,3.058409,3.290540,3.625341,3.297216,...,3.367409,3.338335,3.186979,3.272645,3.257906,3.590639,3.226623,3.090808,3.094094,3.283173
609,3.268097,3.259149,3.261334,3.292234,3.293094,3.262078,3.290848,3.261507,3.311330,3.263851,...,3.263339,3.245959,3.378075,3.262322,3.258793,3.299936,3.243159,3.218993,3.231425,3.254433
610,3.626668,3.215510,3.245534,3.287523,3.290951,3.313501,3.473953,3.226112,3.512187,3.335113,...,3.284113,3.676239,3.446861,3.115334,3.209108,3.692250,2.752954,2.787777,3.303095,3.217375

In [63]:
nmf_model.reconstruction_err_

294.23626092676676

In [64]:
error_squared = (ratings_pivot - R_hat)**2

error_squared

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,1.410820e-03,2.131403e-05,5.784166e-05,0.000719,0.000867,1.008804e-05,0.028789,1.022608e-04,3.079959e-03,5.625507e-09,...,1.335566e-03,0.008609,0.019830,1.048912e-05,0.000025,0.005797,0.003404,0.000432,0.526502,0.001367
2,1.340816e-04,1.104110e-05,4.637391e-08,0.000968,0.001032,9.738742e-08,0.001307,1.415029e-06,5.511099e-03,3.248740e-06,...,9.875216e-07,0.000283,0.011682,1.405811e-06,0.000014,0.000989,0.000603,0.001981,0.000927,0.000025
3,3.041435e-04,3.118326e-05,2.356949e-06,0.001093,0.001168,1.170519e-05,0.000364,3.823193e-09,2.868962e-04,4.526594e-05,...,5.565725e-05,0.000041,0.009354,4.703171e-05,0.000035,0.000846,0.001299,0.003715,0.001313,0.000028
4,1.388118e-04,2.932994e-11,3.440153e-05,0.001633,0.001601,1.394173e-05,0.000228,1.125633e-05,1.580724e-08,1.322166e-05,...,2.393949e-04,0.002943,0.007021,3.745394e-05,0.000003,0.002736,0.002393,0.000033,0.001789,0.000355
5,2.073904e-07,2.939374e-06,2.173104e-07,0.000850,0.000908,4.684555e-05,0.000517,4.842555e-06,2.389230e-03,9.233912e-06,...,1.565357e-05,0.000543,0.015021,8.151359e-06,0.000004,0.001695,0.000035,0.001430,0.000697,0.000009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,6.263498e-05,1.151897e-04,1.450035e-03,0.000478,0.000455,8.443493e-04,0.023989,2.474182e-03,3.234082e-02,9.926127e-04,...,8.171554e-04,0.000274,0.018060,2.302488e-05,0.000153,0.098743,0.010498,0.000713,0.002079,0.002030
607,1.691989e-04,2.337968e-05,1.672128e-06,0.000016,0.000015,7.066978e-05,0.025960,1.962802e-05,2.514229e-02,7.042348e-05,...,2.001227e-07,0.000287,0.127890,4.843953e-05,0.000071,0.005053,0.000982,0.002889,0.000069,0.003402
608,3.127445e-03,6.536029e-05,1.090573e-03,0.000059,0.000048,9.738159e-03,0.041586,7.955697e-04,1.317735e-01,1.216723e-03,...,1.104052e-02,0.005776,0.005679,1.062940e-04,0.000020,0.826938,0.074735,0.029422,0.028305,0.000434
609,3.320178e-05,1.015067e-05,1.000567e-06,0.000894,0.000946,6.598321e-08,0.000813,6.841959e-07,2.400511e-03,2.298595e-06,...,1.007904e-06,0.000268,0.013396,1.695559e-10,0.000013,0.001414,0.000368,0.001879,0.000955,0.000062
610,1.393765e-01,2.192507e-03,2.822575e-04,0.000634,0.000819,2.617985e-03,0.044782,1.312090e-03,1.485263e-04,5.296638e-03,...,4.743042e-04,0.104821,0.002824,1.330198e-02,0.002833,0.184828,0.566940,1.658371,0.001661,0.002021

In [65]:
error_squared.sum().sum()

92321.0051251129

In [66]:
np.sqrt(error_squared.sum().sum())

303.8437182584378

### Export 3: Save a NFM-Model with pickle
The pickle module dumps an object into a binary strings

In [67]:
import pickle

with open('nmf_model1.pkl',mode='wb') as file:
    pickle.dump(nmf_model,file)

### Model deployment: Make recommendations for a new user
We want provide her/him with movie recommendations. So we ask him/her to rate some movie. For the new user $\hat{R}_{new-user}$ represents the user ratings if he/she would have watched the movies.

#### Step 1. Load a pickled Model

In [68]:
########## implementation #################

In [69]:
with open('nmf_model1.pkl','rb') as file:
    loaded_model = pickle.load(file)

In [70]:
loaded_model

NMF(max_iter=500, n_components=20)

In [71]:
new_user_query = {"Toy Story (1995)"   : 5,
                 "Heat (1995)"         : 2,
                 "Braveheart (1995)"   : 3.5}

In [72]:
new_user_query

{'Toy Story (1995)': 5, 'Heat (1995)': 2, 'Braveheart (1995)': 3.5}

In [73]:
movie_list = list(ratings_extended['title'].unique())

In [74]:
movie_list

['Toy Story (1995)',
 'Grumpier Old Men (1995)',
 'Heat (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Usual Suspects, The (1995)',
 'From Dusk Till Dawn (1996)',
 'Bottle Rocket (1996)',
 'Braveheart (1995)',
 'Rob Roy (1995)',
 'Canadian Bacon (1995)',
 'Desperado (1995)',
 'Billy Madison (1995)',
 'Clerks (1994)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Ed Wood (1994)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Pulp Fiction (1994)',
 'Stargate (1994)',
 'Tommy Boy (1995)',
 'Clear and Present Danger (1994)',
 'Forrest Gump (1994)',
 'Jungle Book, The (1994)',
 'Mask, The (1994)',
 'Blown Away (1994)',
 'Dazed and Confused (1993)',
 'Fugitive, The (1993)',
 'Jurassic Park (1993)',
 'Mrs. Doubtfire (1993)',
 "Schindler's List (1993)",
 'So I Married an Axe Murderer (1993)',
 'Three Musketeers, The (1993)',
 'Tombstone (1993)',
 'Dances with Wolves (1990)',
 'Batman (1989)',
 'Silence of the Lambs, The (1991)',
 'Pinocchio (1940)',
 'Fargo (1996)',
 'Mission: Impossible (1996)',
 'James and the Giant Peach (1996)',
 'Space Jam (1996)',
 'Rock, The (1996)',
 'Twister (1996)',
 'Independence Day (a.k.a. ID4) (1996)',
 "She's the One (1996)",
 'Wizard of Oz, The (1939)',
 'Citizen Kane (1941)',
 'Adventures of Robin Hood, The (1938)',
 'Ghost and Mrs. Muir, The (1947)',
 'Mr. Smith Goes to Washington (1939)',
 'Escape to Witch Mountain (1975)',
 'Winnie the Pooh and the Blustery Day (1968)',
 'Three Caballeros, The (1945)',
 'Sword in the Stone, The (1963)',
 'Dumbo (1941)',
 "Pete's Dragon (1977)",
 'Bedknobs and Broomsticks (1971)',
 'Alice in Wonderland (1951)',
 'That Thing You Do! (1996)',
 'Ghost and the Darkness, The (1996)',
 'Swingers (1996)',
 'Willy Wonka & the Chocolate Factory (1971)',
 "Monty Python's Life of Brian (1979)",
 'Reservoir Dogs (1992)',
 'Platoon (1986)',
 'Basic Instinct (1992)',
 'E.T. the Extra-Terrestrial (1982)',
 'Abyss, The (1989)',
 'Monty Python and the Holy Grail (1975)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Princess Bride, The (1987)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Clockwork Orange, A (1971)',
 'Apocalypse Now (1979)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Goodfellas (1990)',
 'Alien (1979)',
 'Psycho (1960)',
 'Blues Brothers, The (1980)',
 'Full Metal Jacket (1987)',
 'Henry V (1989)',
 'Quiet Man, The (1952)',
 'Terminator, The (1984)',
 'Duck Soup (1933)',
 'Shining, The (1980)',
 'Groundhog Day (1993)',
 'Back to the Future (1985)',
 'Highlander (1986)',
 'Young Frankenstein (1974)',
 'Fantasia (1940)',
 'Indiana Jones and the Last Crusade (1989)',
 'Pink Floyd: The Wall (1982)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Batman Returns (1992)',
 'Sneakers (1992)',
 'Last of the Mohicans, The (1992)',
 "McHale's Navy (1997)",
 'Best Men (1997)',
 'Grosse Pointe Blank (1997)',
 'Austin Powers: International Man of Mystery (1997)',
 'Con Air (1997)',
 'Face/Off (1997)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Conan the Barbarian (1982)',
 'L.A. Confidential (1997)',
 'Kiss the Girls (1997)',
 'Game, The (1997)',
 'I Know What You Did Last Summer (1997)',
 'Starship Troopers (1997)',
 'Big Lebowski, The (1998)',
 'Wedding Singer, The (1998)',
 'Welcome to Woop-Woop (1997)',
 'Newton Boys, The (1998)',
 'Wild Things (1998)',
 'Small Soldiers (1998)',
 'All Quiet on the Western Front (1930)',
 'Rocky (1976)',
 'Labyrinth (1986)',
 'Lethal Weapon (1987)',
 'Goonies, The (1985)',
 'Back to the Future Part III (1990)',
 'Bambi (1942)',
 'Saving Private Ryan (1998)',
 'Black Cauldron, The (1985)',
 'Flight of the Navigator (1986)',
 'Great Mouse Detective, The (1986)',
 'Honey, I Shrunk the Kids (1989)',
 'Negotiator, The (1998)',
 'Jungle Book, The (1967)',
 'Rescuers, The (1977)',
 'Return to Oz (1985)',
 'Rocketeer, The (1991)',
 'Sleeping Beauty (1959)',
 'Song of the South (1946)',
 'Tron (1982)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Lord of the Rings, The (1978)',
 "Charlotte's Web (1973)",
 'Secret of NIMH, The (1982)',
 'American Tail, An (1986)',
 'Legend (1985)',
 'NeverEnding Story, The (1984)',
 'Beetlejuice (1988)',
 'Willow (1988)',
 'Toys (1992)',
 'Few Good Men, A (1992)',
 'Rush Hour (1998)',
 'Edward Scissorhands (1990)',
 'American History X (1998)',
 'I Still Know What You Did Last Summer (1998)',
 'Enemy of the State (1998)',
 'King Kong (1933)',
 'Very Bad Things (1998)',
 'Psycho (1998)',
 'Rushmore (1998)',
 'Romancing the Stone (1984)',
 'Young Sherlock Holmes (1985)',
 'Thin Red Line, The (1998)',
 'Howard the Duck (1986)',
 'Texas Chainsaw Massacre, The (1974)',
 'Crocodile Dundee (1986)',
 '¡Three Amigos! (1986)',
 '20 Dates (1998)',
 'Office Space (1999)',
 "Logan's Run (1976)",
 'Planet of the Apes (1968)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Matrix, The (1999)',
 'Go (1999)',
 'SLC Punk! (1998)',
 'Dick Tracy (1990)',
 'Mummy, The (1999)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Superman (1978)',
 'Superman II (1980)',
 'Dracula (1931)',
 'Frankenstein (1931)',
 'Wolf Man, The (1941)',
 'Rocky Horror Picture Show, The (1975)',
 'Run Lola Run (Lola rennt) (1998)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Iron Giant, The (1999)',
 'Big (1988)',
 '13th Warrior, The (1999)',
 'American Beauty (1999)',
 'Excalibur (1981)',
 "Gulliver's Travels (1939)",
 'Total Recall (1990)',
 'Dirty Dozen, The (1967)',
 'Goldfinger (1964)',
 'From Russia with Love (1963)',
 'Dr. No (1962)',
 'Fight Club (1999)',
 'RoboCop (1987)',
 'Who Framed Roger Rabbit? (1988)',
 'Live and Let Die (1973)',
 'Thunderball (1965)',
 'Being John Malkovich (1999)',
 'Spaceballs (1987)',
 'Robin Hood (1973)',
 'Dogma (1999)',
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Longest Day, The (1962)',
 'Green Mile, The (1999)',
 'Easy Rider (1969)',
 'Talented Mr. Ripley, The (1999)',
 'Encino Man (1992)',
 'Sister Act (1992)',
 "Wayne's World (1992)",
 'Scream 3 (2000)',
 'JFK (1991)',
 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)',
 'Teenage Mutant Ninja Turtles III (1993)',
 'Red Dawn (1984)',
 'Good Morning, Vietnam (1987)',
 'Grumpy Old Men (1993)',
 'Ladyhawke (1985)',
 'Hook (1991)',
 'Predator (1987)',
 'Gladiator (2000)',
 'Road Trip (2000)',
 'Man with the Golden Gun, The (1974)',
 'Blazing Saddles (1974)',
 'Mad Max (1979)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'Shaft (1971)',
 'Big Trouble in Little China (1986)',
 'Shaft (2000)',
 'X-Men (2000)',
 'What About Bob? (1991)',
 'Transformers: The Movie (1986)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Shawshank Redemption, The (1994)',
 'Good Will Hunting (1997)',
 'Kill Bill: Vol. 1 (2003)',
 'Collateral (2004)',
 'Talladega Nights: The Ballad of Ricky Bobby (2006)',
 'Departed, The (2006)',
 'Dark Knight, The (2008)',
 'Step Brothers (2008)',
 'Inglourious Basterds (2009)',
 'Zombieland (2009)',
 'Shutter Island (2010)',
 'Exit Through the Gift Shop (2010)',
 'Inception (2010)',
 'Town, The (2010)',
 'Inside Job (2010)',
 'Louis C.K.: Hilarious (2010)',
 'Warrior (2011)',
 'Dark Knight Rises, The (2012)',
 'Girl with the Dragon Tattoo, The (2011)',
 'Django Unchained (2012)',
 'Wolf of Wall Street, The (2013)',
 'Interstellar (2014)',
 'Whiplash (2014)',
 'The Drop (2014)',
 'Ex Machina (2015)',
 'Mad Max: Fury Road (2015)',
 'The Jinx: The Life and Deaths of Robert Durst (2015)',
 'Dangerous Minds (1995)',
 'Courage Under Fire (1996)',
 'Operation Dumbo Drop (1995)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Escape from L.A. (1996)',
 'My Fair Lady (1964)',
 'Doors, The (1991)',
 'On Golden Pond (1981)',
 'Deer Hunter, The (1978)',
 'Patton (1970)',
 'Field of Dreams (1989)',
 'Star Trek: The Motion Picture (1979)',
 'Lady and the Tramp (1955)',
 'Thing, The (1982)',
 "You've Got Mail (1998)",
 'Piranha (1978)',
 'Fast Times at Ridgemont High (1982)',
 'Requiem for a Dream (2000)',
 'The Lair of the White Worm (1988)',
 'Snow Dogs (2002)',
 'Hangar 18 (1980)',
 'Galaxy of Terror (Quest) (1981)',
 'Looker (1981)',
 'Android (1982)',
 'Green Card (1990)',
 'Alien Contamination (1980)',
 'Master of the Flying Guillotine (Du bi quan wang da po xue di zi) (1975)',
 'Death Race 2000 (1975)',
 'Clonus Horror, The (1979)',
 'Troll 2 (1990)',
 '2012 (2009)',
 'Get Shorty (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'To Die For (1995)',
 'Mighty Aphrodite (1995)',
 'Postman, The (Postino, Il) (1994)',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Flirting With Disaster (1996)',
 'NeverEnding Story III, The (1994)',
 'Crumb (1994)',
 'Jeffrey (1995)',
 'Living in Oblivion (1995)',
 'Safe (1995)',
 'Before Sunrise (1995)',
 'Circle of Friends (1995)',
 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 'Heavenly Creatures (1994)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Shallow Grave (1994)',
 "Muriel's Wedding (1994)",
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Bullets Over Broadway (1994)',
 'Corrina, Corrina (1994)',
 'Four Weddings and a Funeral (1994)',
 'Maverick (1994)',
 'Barcelona (1994)',
 'With Honors (1994)',
 'In the Name of the Father (1993)',
 'Manhattan Murder Mystery (1993)',
 'Piano, The (1993)',
 'Six Degrees of Separation (1993)',
 'Sleepless in Seattle (1993)',
 'Aladdin (1992)',
 'Beauty and the Beast (1991)',
 'Wild Bunch, The (1969)',
 'Truth About Cats & Dogs, The (1996)',
 'Maya Lin: A Strong Clear Vision (1994)',
 'Lone Star (1996)',
 'Twelfth Night (1996)',
 'Philadelphia Story, The (1940)',
 "Singin' in the Rain (1952)",
 "Breakfast at Tiffany's (1961)",
 'Rear Window (1954)',
 'North by Northwest (1959)',
 'Some Like It Hot (1959)',
 'Casablanca (1942)',
 'Gone with the Wind (1939)',
 'Notorious (1946)',
 'Love in the Afternoon (1957)',
 'Beautiful Thing (1996)',
 'Everyone Says I Love You (1996)',
 'Sleeper (1973)',
 'Fish Called Wanda, A (1988)',
 'Bonnie and Clyde (1967)',
 'Dial M for Murder (1954)',
 'Crying Game, The (1992)',
 'Rebel Without a Cause (1955)',
 'Grifters, The (1990)',
 'English Patient, The (1996)',
 'Strictly Ballroom (1992)',
 'Brazil (1985)',
 '12 Angry Men (1957)',
 'Wings of Desire (Himmel über Berlin, Der) (1987)',
 'Amadeus (1984)',
 'Bridge on the River Kwai, The (1957)',
 'Stand by Me (1986)',
 'Unforgiven (1992)',
 'Night on Earth (1991)',
 'High Noon (1952)',
 'This Is Spinal Tap (1984)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Mars Attacks! (1996)',
 'Waiting for Guffman (1996)',
 'Donnie Brasco (1997)',
 'Conspiracy Theory (1997)',
 'Full Monty, The (1997)',
 'Sweet Hereafter, The (1997)',
 'Afterglow (1997)',
 'My Life in Pink (Ma vie en rose) (1997)',
 'Spanish Prisoner, The (1997)',
 'Character (Karakter) (1997)',
 'Bulworth (1998)',
 'Opposite of Sex, The (1998)',
 'Perfect Murder, A (1998)',
 "Can't Hardly Wait (1998)",
 'Mulan (1998)',
 'Smoke Signals (1998)',
 "Buffalo '66 (a.k.a. Buffalo 66) (1998)",
 "There's Something About Mary (1998)",
 'West Side Story (1961)',
 'Metropolitan (1990)',
 'Breakfast Club, The (1985)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Blue Velvet (1986)',
 'Jerk, The (1979)',
 'Pretty in Pink (1986)',
 'Gods Must Be Crazy, The (1980)',
 'Strangers on a Train (1951)',
 'Shadow of a Doubt (1943)',
 'Saboteur (1942)',
 'Pecker (1998)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Elizabeth (1998)',
 'Nights of Cabiria (Notti di Cabiria, Le) (1957)',
 'Waking Ned Devine (a.k.a. Waking Ned) (1998)',
 'Little Voice (1998)',
 'Name of the Rose, The (Name der Rose, Der) (1986)',
 "Cookie's Fortune (1999)",
 'Election (1999)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Eyes Wide Shut (1999)',
 'Sixth Sense, The (1999)',
 'Thomas Crown Affair, The (1999)',
 'Bowfinger (1999)',
 'Airplane! (1980)',
 'Black Cat, White Cat (Crna macka, beli macor) (1998)',
 'Pajama Game, The (1957)',
 'High Plains Drifter (1973)',
 'Hairspray (1988)',
 'Crimes and Misdemeanors (1989)',
 'Dead Again (1991)',
 'Commitments, The (1991)',
 'Mansfield Park (1999)',
 'All About My Mother (Todo sobre mi madre) (1999)',
 'Magnolia (1999)',
 'Galaxy Quest (1999)',
 'Boys from Brazil, The (1978)',
 'League of Their Own, A (1992)',
 'Wonder Boys (2000)',
 'Defending Your Life (1991)',
 'Searchers, The (1956)',
 'Erin Brockovich (2000)',
 'High Fidelity (2000)',
 'Outlaw Josey Wales, The (1976)',
 'East is East (1999)',
 'Mr. Mom (1983)',
 'Blow-Up (Blowup) (1966)',
 "I'm the One That I Want (2000)",
 'Almost Famous (2000)',
 'Best in Show (2000)',
 'Billy Elliot (2000)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Planes, Trains & Automobiles (1987)',
 'Chocolat (2000)',
 'Gift, The (2000)',
 'Before Night Falls (2000)',
 'O Brother, Where Art Thou? (2000)',
 'State and Main (2000)',
 'Thirteen Days (2000)',
 'Traffic (2000)',
 'Legend of Rita, The (Stille nach dem Schuß, Die) (1999)',
 'Innerspace (1987)',
 'In the Mood For Love (Fa yeung nin wa) (2000)',
 'Series 7: The Contenders (2001)',
 'Memento (2000)',
 'Blow (2001)',
 "Bridget Jones's Diary (2001)",
 'Circle, The (Dayereh) (2000)',
 'Visit, The (2000)',
 'Under the Sand (2000)',
 'Moulin Rouge (2001)',
 'Divided We Fall (Musíme si pomáhat) (2000)',
 'Closet, The (Placard, Le) (2001)',
 'Ghost World (2001)',
 'Together (Tillsammans) (2000)',
 'L.I.E. (2001)',
 "Man Who Wasn't There, The (2001)",
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 "Devil's Backbone, The (Espinazo del diablo, El) (2001)",
 "No Man's Land (2001)",
 'Babe (1995)',
 'Dead Man Walking (1995)',
 'Clueless (1995)',
 'Apollo 13 (1995)',
 'Batman Forever (1995)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Little Women (1994)',
 'Legends of the Fall (1994)',
 'Once Were Warriors (1994)',
 'Quiz Show (1994)',
 'Ace Ventura: Pet Detective (1994)',
 'Lion King, The (1994)',
 'True Lies (1994)',
 'Addams Family Values (1993)',
 'In the Line of Fire (1993)',
 'Remains of the Day, The (1993)',
 'Secret Garden, The (1993)',
 'Shadowlands (1993)',
 'Terminator 2: Judgment Day (1991)',
 'Snow White and the Seven Dwarfs (1937)',
 'Pretty Woman (1990)',
 'Jumanji (1995)',
 'Waiting to Exhale (1995)',
 'Father of the Bride Part II (1995)',
 'Sabrina (1995)',
 'Tom and Huck (1995)',
 'GoldenEye (1995)',
 'American President, The (1995)',
 'Balto (1995)',
 'Cutthroat Island (1995)',
 'Casino (1995)',
 'Sense and Sensibility (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Copycat (1995)',
 'Powder (1995)',
 'Leaving Las Vegas (1995)',
 'Othello (1995)',
 'Now and Then (1995)',
 'Richard III (1995)',
 'Restoration (1995)',
 'How to Make an American Quilt (1995)',
 'Big Green, The (1995)',
 'Indian in the Cupboard, The (1995)',
 'Eye for an Eye (1996)',
 "Mr. Holland's Opus (1995)",
 'Bio-Dome (1996)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'Screamers (1995)',
 'Juror, The (1996)',
 'White Squall (1996)',
 'Dunston Checks In (1996)',
 'Black Sheep (1996)',
 'Nick of Time (1995)',
 'Mary Reilly (1996)',
 'Vampire in Brooklyn (1995)',
 'Broken Arrow (1996)',
 'City Hall (1996)',
 'Mr. Wrong (1996)',
 'Happy Gilmore (1996)',
 'Bridges of Madison County, The (1995)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Before and After (1996)',
 'Down Periscope (1996)',
 'Up Close and Personal (1996)',
 'Birdcage, The (1996)',
 'Bad Boys (1995)',
 'Amazing Panda Adventure, The (1995)',
 'Casper (1995)',
 'Clockers (1995)',
 'Congo (1995)',
 'Crimson Tide (1995)',
 'Die Hard: With a Vengeance (1995)',
 'First Knight (1995)',
 'Hackers (1995)',
 'Jury Duty (1995)',
 'Lord of Illusions (1995)',
 'Mad Love (1995)',
 'Mallrats (1995)',
 'Mighty Morphin Power Rangers: The Movie (1995)',
 'Net, The (1995)',
 'Nine Months (1995)',
 'Reckless (1995)',
 'Scarlet Letter, The (1995)',
 'Something to Talk About (1995)',
 'Species (1995)',
 'Three Wishes (1995)',
 'Under Siege 2: Dark Territory (1995)',
 'Unstrung Heroes (1995)',
 'Walk in the Clouds, A (1995)',
 'Waterworld (1995)',
 "White Man's Burden (1995)",
 'Wild Bill (1995)',
 'Bushwhacked (1995)',
 'Babysitter, The (1995)',
 'Boys on the Side (1995)',
 'Cure, The (1995)',
 'Don Juan DeMarco (1995)',
 'Disclosure (1994)',
 'Dolores Claiborne (1995)',
 'Exit to Eden (1994)',
 'French Kiss (1995)',
 'Forget Paris (1995)',
 'Goofy Movie, A (1995)',
 'Hideaway (1995)',
 'Gordy (1995)',
 'Houseguest (1994)',
 'Heavyweights (Heavy Weights) (1995)',
 'Hunted, The (1995)',
 'I.Q. (1994)',
 'Jefferson in Paris (1995)',
 'Junior (1994)',
 'Just Cause (1995)',
 "Kid in King Arthur's Court, A (1995)",
 'Little Princess, A (1995)',
 'Major Payne (1995)',
 'Love Affair (1994)',
 'Losing Isaiah (1995)',
 "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 'Man of the House (1995)',
 'Milk Money (1994)',
 'Miracle on 34th Street (1994)',
 'My Family (1995)',
 "Nobody's Fool (1994)",
 'Nell (1994)',
 'Natural Born Killers (1994)',
 'Only You (1994)',
 'Poison Ivy II (1996)',
 'Outbreak (1995)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Queen Margot (Reine Margot, La) (1994)',
 'Quick and the Dead, The (1995)',
 'Roommates (1995)',
 'Rent-a-Kid (1995)',
 'Stuart Saves His Family (1995)',
 'Swan Princess, The (1994)',
 'Secret of Roan Inish, The (1994)',
 'Specialist, The (1994)',
 'Santa Clause, The (1994)',
 'Tank Girl (1995)',
 'Star Trek: Generations (1994)',
 'Tales from the Hood (1995)',
 'Village of the Damned (1995)',
 'Walking Dead, The (1995)',
 "What's Eating Gilbert Grape (1993)",
 'While You Were Sleeping (1995)',
 'War, The (1994)',
 'Baby-Sitters Club, The (1995)',
 'Bitter Moon (1992)',
 'Client, The (1994)',
 'Crooklyn (1994)',
 'Crow, The (1994)',
 'Cobb (1994)',
 'Flintstones, The (1994)',
 'Higher Learning (1995)',
 'I Like It Like That (1994)',
 'I Love Trouble (1994)',
 'It Could Happen to You (1994)',
 "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Paper, The (1994)',
 'Richie Rich (1994)',
 'Speed (1994)',
 'Speechless (1994)',
 'When a Man Loves a Woman (1994)',
 'Wolf (1994)',
 'Wyatt Earp (1994)',
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 'Age of Innocence, The (1993)',
 'Another Stakeout (1993)',
 'Bad Girls (1994)',
 'Beverly Hillbillies, The (1993)',
 'Body Snatchers (1993)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Cliffhanger (1993)',
 'Coneheads (1993)',
 'Cops and Robbersons (1994)',
 'Dave (1993)',
 'Fatal Instinct (1993)',
 'Firm, The (1993)',
 'Free Willy (1993)',
 'Geronimo: An American Legend (1993)',
 'Getting Even with Dad (1994)',
 'Hot Shots! Part Deux (1993)',
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 'House of the Spirits, The (1993)',
 "I'll Do Anything (1994)",
 "What's Love Got to Do with It? (1993)",
 'Last Action Hero (1993)',
 'Made in America (1993)',
 'Malice (1993)',
 'Man Without a Face, The (1993)',
 'Menace II Society (1993)',
 'Executive Decision (1996)',
 'Much Ado About Nothing (1993)',
 'Next Karate Kid, The (1994)',
 'North (1994)',
 'Philadelphia (1993)',
 'Poetic Justice (1993)',
 'Renaissance Man (1994)',
 'Robin Hood: Men in Tights (1993)',
 'Rudy (1993)',
 'Serial Mom (1994)',
 'Simple Twist of Fate, A (1994)',
 'Sirens (1994)',
 'Sliver (1993)',
 'Son in Law (1993)',
 'Super Mario Bros. (1993)',
 'Terminal Velocity (1994)',
 'Little Big League (1994)',
 'Little Rascals, The (1994)',
 'Ghost (1990)',
 'Candyman: Farewell to the Flesh (1995)',
 'Homeward Bound II: Lost in San Francisco (1996)',
 'Aristocats, The (1970)',
 'Primal Fear (1996)',
 'All Dogs Go to Heaven 2 (1996)',
 'Sgt. Bilko (1996)',
 'Diabolique (1996)',
 'Fear (1996)',
 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
 'Substitute, The (1996)',
 'Feeling Minnesota (1996)',
 'Angus (1995)',
 'Quest, The (1996)',
 'Oliver & Company (1988)',
 'Celtic Pride (1996)',

In [75]:
new_user_dataframe =  pd.DataFrame(data    = new_user_query,
                                   columns = movie_list,
                                   index   = ['new_user']
                                  )

In [76]:
new_user_dataframe#.dropna()

,Toy Story (1995),Grumpier Old Men (1995),Heat (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Canadian Bacon (1995),...,Return of the One-Armed Swordsman (1969),Hitchcock/Truffaut (2015),He Never Died (2015),Southbound (2016),Gen-X Cops (1999),Bloodmoon (1997),Sympathy for the Underdog (1971),Hazard (2005),Blair Witch (2016),31 (2016)
new_user,5,NaN,2,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
ratings_pivot.to_csv("ratings_pivot.csv")

In [78]:
ratings_pivot.mean()

title
'71 (2014)                                   3.263544
'Hellboy': The Seeds of Creation (2004)      3.263544
'Round Midnight (1986)                       3.263114
'Salem's Lot (2004)                          3.265183
'Til There Was You (1997)                    3.264753
                                               ...
eXistenZ (1999)                              3.284021
xXx (2002)                                   3.242997
xXx: State of the Union (2005)               3.251988
¡Three Amigos! (1986)                        3.256891
À nous la liberté (Freedom for Us) (1931)    3.258626
Length: 9719, dtype: float64

3. *Fill the missing value*<br>

In [79]:
# using the same imputation as training data

new_user_dataframe_imputed = new_user_dataframe.fillna(ratings_pivot.mean())
new_user_dataframe_imputed

,Toy Story (1995),Grumpier Old Men (1995),Heat (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Canadian Bacon (1995),...,Return of the One-Armed Swordsman (1969),Hitchcock/Truffaut (2015),He Never Died (2015),Southbound (2016),Gen-X Cops (1999),Bloodmoon (1997),Sympathy for the Underdog (1971),Hazard (2005),Blair Witch (2016),31 (2016)
new_user,5,3.262103,2,3.499623,3.588537,3.284583,3.281952,3.5,3.282756,3.255145,...,3.261905,3.262724,3.262724,3.262724,3.262724,3.261085,3.264364,3.261905,3.262724,3.262724

#### Step 3. Create user-feature matrix $P$ for new user

1. *Get the user-feature matrix/dataframe $P$ by using the model method transform on the full imputed user/movie dataframe/matrix*

In [80]:
P_new_user_matrix = nmf_model.transform(new_user_dataframe_imputed)

/home/florianriemann/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)
/home/florianriemann/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1692: ConvergenceWarning: Maximum number of iterations 500 reached. Increase it to improve convergence.
  warnings.warn(

In [81]:
P_new_user_matrix

array([[2.70928788e-01, 1.41746043e-02, 9.61643568e-04, 2.06174168e-03,
        1.44495814e-04, 4.96134167e-05, 6.92255945e-04, 1.00988965e-04,
        3.55414482e-05, 0.00000000e+00, 2.57685205e-04, 2.67310380e-03,
        1.18634859e-01, 9.29890963e-02, 6.27907919e-02, 6.78670851e-02,
        4.10819101e-01, 8.20947470e-01, 0.00000000e+00, 1.36632127e-04]])

In [82]:
P_new_user = pd.DataFrame(data=P_new_user_matrix,
                         index = ['new_user'])

In [83]:
P_new_user

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
new_user,0.270929,0.014175,0.000962,0.002062,0.000144,0.00005,0.000692,0.000101,0.000036,0.0,0.000258,0.002673,0.118635,0.092989,0.062791,0.067867,0.410819,0.820947,0.0,0.000137

#### Step 3. Reconstruct the user-movie(item) matrix/dataframe for the new user
$\hat{R}_{new-user} = P_{new-user} \cdot Q \sim R_{new-user}$

In [84]:
R_hat_new_user_matrix = np.dot(P_new_user_matrix, Q_matrix)
R_hat_new_user_matrix

array([[3.27654566, 3.26219382, 3.26513767, ..., 3.22322688, 3.23272917,
        3.25698956]])

In [85]:
prediction = pd.DataFrame(R_hat_new_user_matrix, columns=new_user_dataframe_imputed.columns)
prediction = prediction.T
prediction.rename(columns={0:"movies"}, inplace=True)
prediction = prediction.sort_values(by='movies', ascending=False)
prediction = list(prediction.head(10).index)
prediction

['Secret of My Succe$s, The (a.k.a. The Secret of My Success) (1987)',
 'Being There (1979)',
 'Driving Miss Daisy (1989)',
 'Batman: The Dark Knight Returns, Part 1 (2012)',
 'Captain Underpants: The First Epic Movie (2017)',
 'Purge, The (2013)',
 'Glory Daze (1995)',
 'Heavyweights (Heavy Weights) (1995)',
 'Rent-a-Kid (1995)',
 'Dylan Moran: Monster (2004)']

### Export 4: movie_list

In [86]:
movie_list_df = pd.DataFrame(movie_list, columns=['movies'])

In [87]:
movie_list_df.to_csv('movie_list_df.csv')

In [88]:
movie_list_df = pd.read_csv('movie_list_df.csv')

In [89]:
movie_list = list(movie_list_df['movies'])

## **steps of Neighborhod based CF**: Cosine Similarity

In [90]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

In [91]:
ratings_pivot_raw.head(2)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
initial = ratings_pivot_raw.T
initial.head(2)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
user_item = initial.fillna(0)
user_item.head(2)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Cosine Similarity
+ Angle measurement between two vectors. Orientation, not magnitude.
+ Values range between:
  
    -1: vectors point in opposite directions.
  
    +1: vectors are on top of each other.
    
     0: vectors are perpendicular. 

$$cos(X, Y) = \frac{\sum_i^n{x_i*y_i}}{\sqrt{\sum_i^n{x_i^2}}\sqrt{\sum_i^n{y_i^2}}}$$

Numerator: dot product of the vectors

Denominator: Euclidean norm of the vectors multiplied

In [94]:
# define the function that calculates the above equation

def cos_sim(vec_one, vec_two):
    num = np.dot(vec_one, vec_two)
    denom = np.sqrt(np.dot(vec_one, vec_one)) * np.sqrt(np.dot(vec_two, vec_two))
    return round(num/denom, 2)

In [95]:
# small test for the function

vec_one = [2,3,1]
vec_two = [3,4,5]

sim_score = cos_sim(vec_one, vec_two)

sim_score

0.87

In [96]:
user_item[610]

title
'71 (2014)                                   4.0
'Hellboy': The Seeds of Creation (2004)      0.0
'Round Midnight (1986)                       0.0
'Salem's Lot (2004)                          0.0
'Til There Was You (1997)                    0.0
                                            ...
eXistenZ (1999)                              0.0
xXx (2002)                                   2.0
xXx: State of the Union (2005)               1.5
¡Three Amigos! (1986)                        0.0
À nous la liberté (Freedom for Us) (1931)    0.0
Name: 610, Length: 9719, dtype: float64

In [97]:
user_item.columns

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
           dtype='int64', name='userId', length=610)

In [98]:
# let's try it on the data

#vec_one, vec_two = [user_item["Dina"], user_item["Tiago"]]
vec_one, vec_two = [user_item[610], user_item[1]]

sim_score = cos_sim(vec_one, vec_two)

sim_score

0.15

In [99]:
# create a dataframe for the cosine similarity score for each pair of users of size 15x15

def user_user_matrix(df):
    total_fillable = list()
    for user in df.columns:
        fillable = list()
        for other_user in df.columns:
            sim_score = cos_sim(df[user], df[other_user])
            fillable.append(sim_score)
        
        total_fillable.append(fillable)

    return pd.DataFrame(total_fillable, columns = df.columns, index = df.columns)

#### Create a table with pairwise cosine-similarities

In [100]:
user_user = user_user_matrix(user_item)
user_user

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.00,0.03,0.06,0.19,0.13,0.13,0.16,0.14,0.06,0.02,...,0.08,0.16,0.22,0.07,0.15,0.16,0.27,0.29,0.09,0.15
2,0.03,1.00,0.00,0.00,0.02,0.03,0.03,0.03,0.00,0.07,...,0.20,0.02,0.01,0.00,0.00,0.03,0.01,0.05,0.03,0.10
3,0.06,0.00,1.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00,...,0.01,0.01,0.03,0.00,0.01,0.01,0.02,0.02,0.00,0.03
4,0.19,0.00,0.00,1.00,0.13,0.09,0.12,0.06,0.01,0.03,...,0.09,0.13,0.31,0.05,0.08,0.20,0.13,0.15,0.03,0.11
5,0.13,0.02,0.01,0.13,1.00,0.30,0.11,0.43,0.00,0.03,...,0.07,0.42,0.11,0.26,0.15,0.11,0.15,0.14,0.26,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.16,0.03,0.01,0.20,0.11,0.10,0.20,0.10,0.08,0.09,...,0.18,0.12,0.30,0.07,0.15,1.00,0.15,0.26,0.07,0.20
607,0.27,0.01,0.02,0.13,0.15,0.16,0.19,0.19,0.01,0.01,...,0.09,0.20,0.20,0.14,0.12,0.15,1.00,0.28,0.15,0.14
608,0.29,0.05,0.02,0.15,0.14,0.18,0.32,0.19,0.10,0.08,...,0.16,0.20,0.23,0.16,0.18,0.26,0.28,1.00,0.12,0.32
609,0.09,0.03,0.00,0.03,0.26,0.21,0.09,0.42,0.00,0.02,...,0.04,0.34,0.06,0.24,0.10,0.07,0.15,0.12,1.00,0.05
610,0.15,0.10,0.03,0.11,0.06,0.05,0.19,0.08,0.07,0.12,...,0.22,0.09,0.16,0.05,0.12,0.20,0.14,0.32,0.05,1.00

In [101]:
# We can create the "user_user"-matrix (including the similarities between users) using sklearn

user_user_sklearn = cosine_similarity(user_item.T)
user_user_sklearn = pd.DataFrame(user_user_sklearn, columns = user_item.columns, index = user_item.columns).round(2)

In [102]:
user_user_sklearn

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.00,0.03,0.06,0.19,0.13,0.13,0.16,0.14,0.06,0.02,...,0.08,0.16,0.22,0.07,0.15,0.16,0.27,0.29,0.09,0.15
2,0.03,1.00,0.00,0.00,0.02,0.03,0.03,0.03,0.00,0.07,...,0.20,0.02,0.01,0.00,0.00,0.03,0.01,0.05,0.03,0.10
3,0.06,0.00,1.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00,...,0.01,0.01,0.03,0.00,0.01,0.01,0.02,0.02,0.00,0.03
4,0.19,0.00,0.00,1.00,0.13,0.09,0.12,0.06,0.01,0.03,...,0.09,0.13,0.31,0.05,0.08,0.20,0.13,0.15,0.03,0.11
5,0.13,0.02,0.01,0.13,1.00,0.30,0.11,0.43,0.00,0.03,...,0.07,0.42,0.11,0.26,0.15,0.11,0.15,0.14,0.26,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.16,0.03,0.01,0.20,0.11,0.10,0.20,0.10,0.08,0.09,...,0.18,0.12,0.30,0.07,0.15,1.00,0.15,0.26,0.07,0.20
607,0.27,0.01,0.02,0.13,0.15,0.16,0.19,0.19,0.01,0.01,...,0.09,0.20,0.20,0.14,0.12,0.15,1.00,0.28,0.15,0.14
608,0.29,0.05,0.02,0.15,0.14,0.18,0.32,0.19,0.10,0.08,...,0.16,0.20,0.23,0.16,0.18,0.26,0.28,1.00,0.12,0.32
609,0.09,0.03,0.00,0.03,0.26,0.21,0.09,0.42,0.00,0.02,...,0.04,0.34,0.06,0.24,0.10,0.07,0.15,0.12,1.00,0.05
610,0.15,0.10,0.03,0.11,0.06,0.05,0.19,0.08,0.07,0.12,...,0.22,0.09,0.16,0.05,0.12,0.20,0.14,0.32,0.05,1.00

### With this matrix, we can create recommendations:

+ create a list of unseen movies of the active user (i.e. candidates list)


+ for each unseen movie: check who has rated it and who is closest to the active user, then predict the rating based on the (weighted) average ratings of the neighbours (the number of neighbors to include is a hyperparameter)


+ sort and select top recommendations

(This can all be done with merely writing for-loops and comparing values)

In [103]:
# Step 1: Choose an active user
active_user = 10

In [104]:
items = initial.index

In [105]:
items

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9719)

In [106]:
# Step 2: Create a list of unseen movies for the active user

# notice that I am using the initial matrix with the NAs to locate unseen movies for a user

candidates = initial[initial[active_user].isna()].index
candidates

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9579)

In [107]:
user_user[active_user].sort_values(ascending= False)

userId
10     1.00
159    0.29
143    0.27
563    0.26
177    0.25
       ...
71     0.00
505    0.00
355    0.00
262    0.00
451    0.00
Name: 10, Length: 610, dtype: float64

In [108]:
# Step 3: Create a list of top 5 similar user, i.e. neighbors
neighbors = user_user[active_user].sort_values(ascending= False).index[1:6]
neighbors

Int64Index([159, 143, 563, 177, 189], dtype='int64', name='userId')

In [109]:
candidates

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9579)

In [110]:
items        = []
pred_ratings = []

for item in candidates:
    #extract users who have rated unseen movies
    other_users = initial.columns[~initial.loc[item].isna()]
    # we want to create an intersection, so we save the users as a set-object
    other_users = set(other_users)

    num = 0
    den = 0
    
    for neighbor in set(neighbors).intersection(other_users): 
        ratings   = user_item[neighbor][item] 
        sim_score = user_user[active_user][neighbor]
        num       = num + (ratings*sim_score)
        den       = den + sim_score + 0.000001
    
    pred_rating = num/(den + 0.000001)
    
    items.append(item)
    pred_ratings.append(pred_rating)

In [111]:
predictions_df = pd.DataFrame(data={'item': items, 'pred_ratings': pred_ratings})
predictions_df

                                           item  pred_ratings
0                                    '71 (2014)           0.0
1       'Hellboy': The Seeds of Creation (2004)           0.0
2                        'Round Midnight (1986)           0.0
3                           'Salem's Lot (2004)           0.0
4                     'Til There Was You (1997)           0.0
...                                         ...           ...
9574                            eXistenZ (1999)           0.0
9575                                 xXx (2002)           0.0
9576             xXx: State of the Union (2005)           0.0
9577                      ¡Three Amigos! (1986)           0.0
9578  À nous la liberté (Freedom for Us) (1931)           0.0

[9579 rows x 2 columns]

In [114]:
predictions_df = predictions_df.sort_values(by='pred_ratings', ascending=False)

In [115]:
predictions_df.head(10)

                                                   item  pred_ratings
3513                           Good Will Hunting (1997)      4.999972
3865                              Hidden Figures (2016)      4.999966
1061                         Bill Cosby, Himself (1983)      4.999963
3003                                    Fired Up (2009)      4.999963
3832                               Hello, Dolly! (1969)      4.999962
1753                                  Cinderella (1950)      4.999960
3967                                        Hook (1991)      4.999960
4091                            Hurt Locker, The (2008)      4.999960
3745  Harry Potter and the Deathly Hallows: Part 2 (...      4.999960
3744  Harry Potter and the Deathly Hallows: Part 1 (...      4.999960

In [116]:
user_item.to_csv('user_item.csv') 
user_user.to_csv('user_user.csv') 
user_user_sklearn.to_csv('user_user_sklearn.csv') 
initial.to_csv('initial.csv')

In [ ]:
user_item = pd.read_csv('user_item.csv')
user_user = pd.read_csv('user_user.csv')
user_user_sklearn = pd.read_csv('user_user_sklearn.csv')
initial = pd.read_csv('initial.csv')

In [119]:
list(predictions_df.head(10)['item'])

['Good Will Hunting (1997)',
 'Hidden Figures (2016)',
 'Bill Cosby, Himself (1983)',
 'Fired Up (2009)',
 'Hello, Dolly! (1969)',
 'Cinderella (1950)',
 'Hook (1991)',
 'Hurt Locker, The (2008)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)']