The project involves the following tasks:

explore the data (includes pandas wrangling)

calculate transition probabilities (a 5x5 matrix)

implement a customer class

run a MCMC simulation for a single customer

extend the simulation to multiple customers

Upload your code to GitHub

The output of the simulation should be a CSV file, similar to the input:

In [1]:
import pandas            as pd
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
### Import Data

PATH = '/home/florianriemann/spicy_projects/repos/garlic-boosting-student-code/08_week_project/data/'

mon_raw = pd.read_csv(PATH + "monday.csv", delimiter=";")

'''
tue_raw = pd.read_csv("tuesday.csv", delimiter=",")
wed_raw = pd.read_csv("wednesday.csv", delimiter=",")
thu_raw = pd.read_csv("thursday.csv", delimiter=",")
fri_raw = pd.read_csv("friday.csv", delimiter=",")
'''

'\ntue_raw = pd.read_csv("tuesday.csv", delimiter=",")\nwed_raw = pd.read_csv("wednesday.csv", delimiter=",")\nthu_raw = pd.read_csv("thursday.csv", delimiter=",")\nfri_raw = pd.read_csv("friday.csv", delimiter=",")\n'

In [3]:
# we need the timestamp for multiindex and for aggregation as a column, therefore we use the _tmp temprary
mon_raw['timestamp'] = pd.to_datetime(mon_raw['timestamp'])

In [4]:
mon_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    4884 non-null   datetime64[ns]
 1   customer_no  4884 non-null   int64
 2   location     4884 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 114.6+ KB

In [5]:
mon_raw['timestamp_last'] = mon_raw.groupby(['customer_no'])['timestamp'].transform('last')

In [6]:
mon_df_missing_checkouts = mon_raw.loc[(mon_raw['timestamp'] == mon_raw['timestamp_last']) & (mon_raw['location'] != 'checkout')]

In [7]:
mon_raw.head()

            timestamp  customer_no location      timestamp_last
0 2019-09-02 07:03:00            1    dairy 2019-09-02 07:05:00
1 2019-09-02 07:03:00            2    dairy 2019-09-02 07:06:00
2 2019-09-02 07:04:00            3    dairy 2019-09-02 07:06:00
3 2019-09-02 07:04:00            4    dairy 2019-09-02 07:08:00
4 2019-09-02 07:04:00            5   spices 2019-09-02 07:05:00

In [8]:
mon_df_missing_checkouts.head()

               timestamp  customer_no location      timestamp_last
4860 2019-09-02 21:46:00         1439    fruit 2019-09-02 21:46:00
4863 2019-09-02 21:47:00         1437    dairy 2019-09-02 21:47:00
4873 2019-09-02 21:48:00         1443    dairy 2019-09-02 21:48:00
4875 2019-09-02 21:49:00         1430    fruit 2019-09-02 21:49:00
4876 2019-09-02 21:49:00         1433    fruit 2019-09-02 21:49:00

In [9]:
mon_df_missing_checkouts.loc[:,['location']] = ['checkout']

In [10]:
mon_df_missing_checkouts

               timestamp  customer_no  location      timestamp_last
4860 2019-09-02 21:46:00         1439  checkout 2019-09-02 21:46:00
4863 2019-09-02 21:47:00         1437  checkout 2019-09-02 21:47:00
4873 2019-09-02 21:48:00         1443  checkout 2019-09-02 21:48:00
4875 2019-09-02 21:49:00         1430  checkout 2019-09-02 21:49:00
4876 2019-09-02 21:49:00         1433  checkout 2019-09-02 21:49:00
4877 2019-09-02 21:49:00         1440  checkout 2019-09-02 21:49:00
4878 2019-09-02 21:49:00         1441  checkout 2019-09-02 21:49:00
4881 2019-09-02 21:49:00         1445  checkout 2019-09-02 21:49:00
4882 2019-09-02 21:50:00         1446  checkout 2019-09-02 21:50:00
4883 2019-09-02 21:50:00         1447  checkout 2019-09-02 21:50:00

In [11]:
mon_df_missing_checkouts['timestamp'] = mon_df_missing_checkouts['timestamp'] + pd.Timedelta(minutes=1)

In [12]:
mon_df_missing_checkouts.shape

(10, 4)

In [13]:
mon_raw.shape # we should get 4884 + 10 rows when we concatenate both dataframes

(4884, 4)

In [14]:
mon_df = pd.concat([mon_raw, mon_df_missing_checkouts], ignore_index=True)

In [15]:
mon_df.shape

(4894, 4)

In [16]:
mon_df.head()

            timestamp  customer_no location      timestamp_last
0 2019-09-02 07:03:00            1    dairy 2019-09-02 07:05:00
1 2019-09-02 07:03:00            2    dairy 2019-09-02 07:06:00
2 2019-09-02 07:04:00            3    dairy 2019-09-02 07:06:00
3 2019-09-02 07:04:00            4    dairy 2019-09-02 07:08:00
4 2019-09-02 07:04:00            5   spices 2019-09-02 07:05:00

In [17]:
mon_df.set_index('timestamp', inplace=True)

In [18]:
mon_df.head()

                     customer_no location      timestamp_last
timestamp
2019-09-02 07:03:00            1    dairy 2019-09-02 07:05:00
2019-09-02 07:03:00            2    dairy 2019-09-02 07:06:00
2019-09-02 07:04:00            3    dairy 2019-09-02 07:06:00
2019-09-02 07:04:00            4    dairy 2019-09-02 07:08:00
2019-09-02 07:04:00            5   spices 2019-09-02 07:05:00

In [19]:
# resample gets applied to each dataframe inside the groupby
mon_df = mon_df.groupby('customer_no').resample('60S').first().ffill() # 60S means one minute

In [20]:
mon_df['customer_no'] = mon_df.customer_no.astype(int)

In [21]:
# mon_df.drop(['timestamp_last','customer_no'], axis=1, inplace=True)          # do we need these columns?

In [22]:
mon_df

                                 customer_no  location      timestamp_last
customer_no timestamp
1           2019-09-02 07:03:00            1     dairy 2019-09-02 07:05:00
            2019-09-02 07:04:00            1     dairy 2019-09-02 07:05:00
            2019-09-02 07:05:00            1  checkout 2019-09-02 07:05:00
2           2019-09-02 07:03:00            2     dairy 2019-09-02 07:06:00
            2019-09-02 07:04:00            2     dairy 2019-09-02 07:06:00
...                                      ...       ...                 ...
1445        2019-09-02 21:50:00         1445  checkout 2019-09-02 21:49:00
1446        2019-09-02 21:50:00         1446     dairy 2019-09-02 21:50:00
            2019-09-02 21:51:00         1446  checkout 2019-09-02 21:50:00
1447        2019-09-02 21:50:00         1447     fruit 2019-09-02 21:50:00
            2019-09-02 21:51:00         1447  checkout 2019-09-02 21:50:00

[10775 rows x 3 columns]

In [28]:
# Display the number of customers at checkout over time                  FLORIAN
mon_df.groupby(['timestamp','location'])[['customer_no']].count()

                              customer_no
timestamp           location
2019-09-02 07:03:00 dairy               2
2019-09-02 07:04:00 dairy               4
                    fruit               1
                    spices              3
2019-09-02 07:05:00 checkout            2
...                                   ...
2019-09-02 21:49:00 spices              2
2019-09-02 21:50:00 checkout            5
                    dairy               1
                    fruit               1
2019-09-02 21:51:00 checkout            2

[3779 rows x 1 columns]

In [24]:
# Calculate the total number of customers in the supermarket over time.  FLORIAN
cust_over_time = pd.DataFrame(mon_df['customer_no'].groupby('timestamp').count())
cust_over_time

                     customer_no
timestamp
2019-09-02 07:03:00            2
2019-09-02 07:04:00            8
2019-09-02 07:05:00            8
2019-09-02 07:06:00           12
2019-09-02 07:07:00           12
...                          ...
2019-09-02 21:47:00           12
2019-09-02 21:48:00           10
2019-09-02 21:49:00            8
2019-09-02 21:50:00            7
2019-09-02 21:51:00            2

[889 rows x 1 columns]